# Desafio 1 - Grupo 2

## 1) poner a tono el dataset

  ### 1.1)  Vamos a importar el dataset y ver un poco los datos

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import re

In [3]:
# ubicacion del dataset
data_location = "../Data/properatti.csv"

data = pd.read_csv(data_location)

#vemos el dataset como esta compuesto

data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [4]:
#vemos que cantidad de filas y columnas tiene el dataset

print ( "cantidad de filas ", data.shape[0])
print ( "cantidad de columnas ", data.shape[1])

cantidad de filas  121220
cantidad de columnas  26

In [5]:
# vemos que tipo de datos es cada columna

data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

### 1.2) vamos a seleccionar las columnas que nos interesan y borrar las filas duplicadas

- #### primeros valores eliminados (eliminados: 5.251)

In [6]:
#vamos a limpiar las columnas q no usamos para luego identificar los duplicados

#creamos un nuevo dataset llamado data1 y seleccionamos las columnas que queremos

data1 = data[["property_type", "place_name", "place_with_parent_names", "state_name", "lat-lon", "price", "currency", "price_aprox_local_currency", "price_aprox_usd", "surface_total_in_m2", "surface_covered_in_m2", "price_usd_per_m2", "price_per_m2", "rooms", "description", "title"]]

print("antes teniamos ", data.shape[0], "filas y ", data.shape[1], "columnas")

#ahora vamos a identificar los duplicados
data1_duplicados = data1.duplicated()
print("cantidad de datos duplicados ", data1_duplicados.sum())
             
#ahora con drop duplicate vamos a eliminar los que son True y estan duplicados

data1 = data1.drop_duplicates()

print("ahora tenemos ", data1.shape[0], "filas y ", data1.shape[1], "columnas")

antes teniamos  121220 filas y  26 columnas
cantidad de datos duplicados  5251
ahora tenemos  115969 filas y  16 columnas

### 1.3) analizamos la cantidad de nulos que tiene el dataset

In [7]:
#ahora vamos a ver la cantidad de elementos nulos que tiene cada columna
data_nulos = data1.isnull()
cantidad_nulos = data_nulos.sum()
print("*cantidad de nulos*" , '\n')
print(cantidad_nulos, '\n')

#la idea es ver el % de nulos asi sabemos si las columnas sirven o no, o que trabajo tenemos que hacerle a cada una
cantidad_registros = data1.shape[0]
porcentaje_nulos = cantidad_nulos / cantidad_registros
print("*porcentaje de nulos*", '\n')
print(porcentaje_nulos)

*cantidad de nulos*

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       48214
price                         17435
currency                      17436
price_aprox_local_currency    17435
price_aprox_usd               17435
surface_total_in_m2           38375
surface_covered_in_m2         18801
price_usd_per_m2              49167
price_per_m2                  30314
rooms                         69899
description                       2
title                             0
dtype: int64

*porcentaje de nulos*

property_type                 0.000000
place_name                    0.000198
place_with_parent_names       0.000000
state_name                    0.000000
lat-lon                       0.415749
price                         0.150342
currency                      0.150351
price_aprox_local_currency    0.150342
price_aprox_usd               0.150342
surface_total_in_m2           0.330907
surface_covered_in_m2         0.162121
price_usd_per_m2              0.423967
price_per_m2                  0.261397
rooms                         0.602739
description                   0.000017
title                         0.000000
dtype: float64

### 1.4) vamos a investigar un poco ciertas columnas que nos interesan y limpiar si vemos algunos datos que no nos aportan

- #### Investigamos la columna price_aprox_usd

In [8]:
print('Tamaño columna price --->', data1['price_aprox_usd'].shape[0], '\n')
print('Valores nulos columna price --->', data1['price_aprox_usd'].isnull().sum(), '\n')
print('Valores NO nulos columna price --->', data1['price_aprox_usd'].notnull().sum(), '\n')
print(data1['price_aprox_usd'].describe())

Tamaño columna price ---> 115969

Valores nulos columna price ---> 17435

Valores NO nulos columna price ---> 98534

count    9.853400e+04
mean     2.408766e+05
std      3.936819e+05
min      0.000000e+00
25%      9.000000e+04
50%      1.450000e+05
75%      2.680000e+05
max      4.654544e+07
Name: price_aprox_usd, dtype: float64

- #### Investigamos la columna property_type

In [9]:
data1['property_type'].value_counts()

apartment    66519
house        39761
PH            5618
store         4071
Name: property_type, dtype: int64

- #### de las 17.435 propiedades nulas, vamos a analizar que tipo de propiedad son para entender mejor

In [10]:
# vamos a analizar cada tipo de propiedad

price_aprox_usd = data1['price_aprox_usd']
property_type_PH = data1['property_type'] == 'PH' 
PH_price = data1.loc[property_type_PH, 'price_aprox_usd']

property_type_apartment = data1['property_type'] == 'apartment' 
apartment_price = data1.loc[property_type_apartment, 'price_aprox_usd']

property_type_house = data1['property_type'] == 'house' 
house_price = data1.loc[property_type_house, 'price_aprox_usd']

property_type_store = data1['property_type'] == 'store' 
store_price = data1.loc[property_type_store, 'price_aprox_usd']

In [11]:
#ahora imprimos la cantidad de nulos para cada tipo de propiedad 

print('Cantidad de nulos en PH --->', PH_price.isnull().sum(), '\n')
print('Cantidad de nulos en apartment --->', apartment_price.isnull().sum(), '\n')
print('Cantidad de nulos en house --->', house_price.isnull().sum(), '\n')
print('Cantidad de nulos en store --->', store_price.isnull().sum(), '\n')

Cantidad de nulos en PH ---> 453

Cantidad de nulos en apartment ---> 8844

Cantidad de nulos en house ---> 7285

Cantidad de nulos en store ---> 853

In [12]:
#ahora vemos que % de nulos tiene cada tipo de propiedad 

print('Cantidad de nulos en PH --->', PH_price.isnull().sum() / PH_price.shape[0] , '\n')
print('Cantidad de nulos en apartment --->', apartment_price.isnull().sum() / apartment_price.shape[0] , '\n')
print('Cantidad de nulos en house --->', house_price.isnull().sum() / house_price.shape[0] , '\n')
print('Cantidad de nulos en store --->', store_price.isnull().sum() / store_price.shape[0] , '\n')

Cantidad de nulos en PH ---> 0.08063367746529014

Cantidad de nulos en apartment ---> 0.13295449420466332

Cantidad de nulos en house ---> 0.18321973793415658

Cantidad de nulos en store ---> 0.20953082780643575

- #### vamos a separar en bins para ver como se agrupan por precio todas las propiedades

In [13]:
#con qcut separamos en 4 bins de misma cantidad de datos, dejando afeura los nulos

priceusd_categorias = pd.qcut(data1['price_aprox_usd'], 4)
priceusd_categorias.value_counts()

(-0.001, 90000.0]         25515
(268000.0, 46545445.0]    24633
(145000.0, 268000.0]      24450
(90000.0, 145000.0]       23936
Name: price_aprox_usd, dtype: int64

In [14]:
# vemos los valores menores a 1000 usd y cuantos son

priceusd_menor_1000 = data1['price_aprox_usd'] < 1000
priceusd_menor_1000.value_counts()

False    115968
True          1
Name: price_aprox_usd, dtype: int64

In [15]:
# buscamos ese dato menos a 1.000 usd para analizarlo

dato_menor = data1[priceusd_menor_1000]
dato_menor

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title
9761,house,Córdoba,|Argentina|Córdoba|,Córdoba,"4.5458426,-75.67893099",0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,3.0,Casa en Venta de 2 dorm. en Armenia,SE VENDE CASA EN EL BARRIO EL LIMONAR

- #### segundos valores elimiandos (eliminados: 1)

In [16]:
#vamos a eliminar ese dato porque no nos aporta nada ya quer no tiene ni precio ni superficie (tampoco esta la info en description)

data2 = data1.drop([9761], axis = 0)
data2.shape

#data2.head(3)

(115968, 16)

In [17]:
#vemos ahora los nuevos bins q se armaron 

priceusd_categorias = pd.qcut(data2['price_aprox_usd'], 4)
priceusd_categorias.value_counts()

(4666.619, 90000.0]       25514
(268000.0, 46545445.0]    24633
(145000.0, 268000.0]      24450
(90000.0, 145000.0]       23936
Name: price_aprox_usd, dtype: int64

In [18]:
#ahora analizamos los que son mayores a 7,99mm de usd

priceusd_mayor_8m = data2['price_aprox_usd'] > 7999999
priceusd_mayor_8m.value_counts()

False    115945
True         23
Name: price_aprox_usd, dtype: int64

In [19]:
datos_mayores = data2[priceusd_mayor_8m]
datos_mayores

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title
525,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,NaN,11000000.0,USD,1.940895e+08,11000000.00,7500.0,1800.0,1466.666667,6111.111111,NaN,Total vista al rÃ­o. Sobre 7500 m2 de parque a...,"Casa 7500m² con Dependencias en Garay, Juan De..."
11349,house,Capital Federal,|Argentina|Capital Federal|,Capital Federal,NaN,8500000.0,USD,1.499782e+08,8500000.00,7832.0,4111.0,1085.291113,2067.623449,NaN,Sobre 7832m2 de lote existen 4111m2 cubiertas ...,Casa 7832m² con Dependencias en Don Bosco 3400...
24548,apartment,San Telmo,|Argentina|Capital Federal|San Telmo|,Capital Federal,"-34.6213421,-58.3741846",46545445.0,USD,8.212711e+08,46545445.00,200000.0,NaN,232.727225,NaN,3.0,dsdffhghvcvbcdfdfghdfhghkjhkhjklhjkfgvghfghnfg...,Departamento venta
34638,house,Olivos,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Bs.As. G.B.A. Zona Norte,NaN,14000000.0,USD,2.470230e+08,14000000.00,2079.0,NaN,6734.006734,NaN,NaN,Excelente zona. Cerca de la Quinat Presidencia...,"Casa 2079m² en Del Libertador, Av. 2200, Vicen..."
44684,apartment,Palermo Chico,|Argentina|Capital Federal|Palermo|Palermo Chico|,Capital Federal,"-34.5789246,-58.4013987",8000000.0,USD,1.411560e+08,8000000.00,410.0,410.0,19512.195122,19512.195122,5.0,CONTACTO: MARTIN PINUS 15- EXCELENTISIMA PROPI...,LE PARC ALCORTA - PISO MUY ALTO DE 410 M2 CON ...
44685,apartment,Palermo Chico,|Argentina|Capital Federal|Palermo|Palermo Chico|,Capital Federal,"-34.5789246,-58.4013987",8500000.0,USD,1.499782e+08,8500000.00,410.0,410.0,20731.707317,20731.707317,5.0,CONTACTO: MARTIN PINUS 15- EXCELENTISIMA PROPI...,LE PARC ALCORTA - PISO MUY ALTO DE 410 M2 CON ...
45689,house,Rosario,|Argentina|Santa Fe|Rosario|,Santa Fe,"-32.933983,-60.7319772",11111111.0,USD,1.960500e+08,11111111.00,304.0,149.0,36549.707237,74571.214765,NaN,CODIGO: 2062-670 ubicado en: URQUIZA 7900 - P...,VENTA CASA AL FRENTE. 3 DORMITORIOS. 2 BAÑOS. ...
49083,house,San Carlos de Bariloche,|Argentina|Río Negro|San Carlos de Bariloche|S...,Río Negro,NaN,15500000.0,USD,2.734898e+08,15500000.00,NaN,NaN,NaN,NaN,NaN,CODIGO: 1092-vta-angostura ubicado en: Villa L...,"CASTILLO DE 1500 MTS CON VISTA AL LAGO,CASA DE..."
55319,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,"-34.4722088,-58.4996791",9900000.0,USD,1.746806e+08,9900000.00,1000.0,1000.0,9900.000000,9900.000000,NaN,Casa importante en lote privilegiado con vista...,Casa importante en lote privilegiado con vista...
57907,house,San Isidro,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,"-34.4877803,-58.5557866",8500000.0,USD,1.499782e+08,8500000.00,NaN,4111.0,NaN,2067.623449,NaN,Sobre 7832m2 de lote existen 4111m2 cubiertas ...,DON BOSCO 3400
66045,store,Boca,|Argentina|Capital Federal|Boca|,Capital Federal,"-34.6443487086,-58.3654248049",8000000.0,USD,1.411560e+08,8000000.00,7722.0,7722.0,1036.001036,1036.001036,NaN,C.A.B.A - Boca - PRECIO A CONSULTAR - CÓDIGO 0...,Venta con RENTA. Espectacular depósito premium
67528,store,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,NaN,8000000.0,USD,1.411560e+08,8000000.00,13200.0,13200.0,606.060606,606.060606,NaN,Excepcional Planta Industrial - Partido de S...,Excepcional Planta Industrial totalmente refac...
67690,store,Moreno,|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|Mor...,Bs.As. G.B.A. Zona Oeste,"-34.5676494,-58.8491775",9000000.0,USD,1.588005e+08,9000000.00,NaN,13000.0,NaN,692.307692,NaN,Moreno - CÓDIGO 0167Excelente Inmueble Industr...,Excelente Inmueble Industrial de 13.000 m2
69115,store,Villa Soldati,|Argentina|Capital Federal|Villa Soldati|,Capital Federal,"-34.6601221702,-58.4302513174",8500000.0,USD,1.499782e+08,8500000.00,10958.0,10958.0,775.688994,775.688994,NaN,C.A.B.A - Villa Soldati - CÓDIGO 0146Excelente...,Excelente Nave Industrial de 10.960 m2 sobre t...
73029,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Capital Federal,NaN,8000000.0,USD,1.411560e+08,8000000.00,800.0,NaN,10000.000000,NaN,NaN,VENTA DEPARTAMENTO PISO DE 2 UNIDADES ANEXADAS...,Departamento en Palermo
84400,store,Bs.As. G.B.A. Zona Norte,|Argentina|Bs.As. G.B.A. Zona Norte|,Bs.As. G.B.A. Zona Norte,NaN,13000000.0,USD,2.293785e+08,13000000.00,NaN,NaN,NaN,NaN,NaN,AL VALOR PUBLICADO DEBERÁ ADICIONÁRSELE EL IMP...,Playa vehicular en venta-alquiler- Zarate
91229,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,14000000.0,USD,2.470230e+08,14000000.00,NaN,NaN,NaN,NaN,NaN,"Casa con Agua Corriente, Córdoba, Punilla, por...",Casa - Villa Carlos Paz
91289,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,16000000.0,USD,2.823120e+08,16000000.00,NaN,NaN,NaN,NaN,NaN,"En Bv Artigas 876 , Parque Jardín, La Falda .A...",Casa - La Falda
91428,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,14700000.0,USD,2.593742e+08,14700000.00,NaN,NaN,NaN,NaN,NaN,\tCECILIA INMUEBLES OFRECE:APTO CREDITO HIPOTE...,Casa - Parque Siquiman
91468,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,25000000.0,USD,4.411125e+08,25000000.00,NaN,NaN,NaN,NaN,NaN,"Casa con Agua Corriente, Córdoba, Punilla, por...",Casa - Parque Siquiman
91479,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,19500000.0,USD,3.440678e+08,19500000.00,NaN,NaN,NaN,NaN,NaN,\tCECILIA INMUEBLES OFRECE:INCREIBLE PROPIEDAD...,Casa - Parque Siquiman
107390,house,San Roque,|Argentina|Mendoza|San Roque|,Mendoza,NaN,650000000.0,UYU,4.054773e+08,22980378.29,NaN,NaN,NaN,NaN,NaN,"Casa con Calefacción central, Mendoza, San Roq...",Casa - San Vicente
114131,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Bs.As. G.B.A. Zona Oeste,"-34.6571706,-58.6826249",12000000.0,USD,2.117340e+08,12000000.00,150.0,85.0,80000.000000,141176.470588,NaN,"CODIGO: ubicado en: MONSEÑOR TERRERO , Ituzai...","MONSEÑOR TERRERO , Ituzaingó, Buenos Aires."

- #### tercer eliminacion de valores (eliminados: 8)

In [20]:
#vamos a borrar en base a lo que vimos los sigueintes indices porque no son propiedades reales, o son errores de carga

data3 = data2.drop([24548, 91468, 107390, 91479, 91289, 91428, 114131, 45689], axis = 0)

In [21]:
data3.shape

(115960, 16)

## 2)  Vamos a trabajar ahora sobre las localidades

# ahora vamos a trabajar sobre las columnas de ubicacion

- ### Tenemos 3 columnas de ubicacion "place_name"   "place_with_parent_names"  "state_name"

- ### place_name no se puede utilizar como columna de Localidad ya que hay datos mal cargados, por ejemplo ciertas filas con nombres de Barrios Privados

- ### Es por eso que trabajamos la columna "place_with_parent_names", la splitiamos y obtuvimos la localidad de la misma. Esa localidad va a ser la ubicacion mas especifica para todo el trabajo

In [22]:
#vamos a arrancar por sacar el pais Argentina ya que todas las propiedades son en Argentina.
# creamo una regex para sacar los |Argentina del comienzo de "place_with_parent_names"
import re
patron_argentina = "\|Argentina\|"
patron_regex_arg = re.compile(patron_argentina)
data3["place_with_parent_names"] = data3["place_with_parent_names"].apply(lambda x: x if x is np.NaN else patron_regex_arg.sub("",x))

#### una vez que tenemos la regex de thomas con todos los valores de m2, agregamos los datos a las dos columnas covered y total y ya podemos dividir la columna precio aprox usd por la columna final de surface que usemos para el total de la superficie. de esta manera obtenemos el verdadero valor de price per m2 REAL

In [23]:
data3.loc[:, ["place_with_parent_names"]].head(10)

                             place_with_parent_names
0                         Capital Federal|Mataderos|
1                   Bs.As. G.B.A. Zona Sur|La Plata|
2                         Capital Federal|Mataderos|
3                           Capital Federal|Liniers|
4  Buenos Aires Costa Atlántica|Mar del Plata|Cen...
5                           Entre Ríos|Gualeguaychú|
6      Bs.As. G.B.A. Zona Norte|Vicente López|Munro|
7                          Capital Federal|Belgrano|
8                          Capital Federal|Belgrano|
9                                  Santa Fe|Rosario|

In [24]:
#Splitiamos ahora "place_with_parent_names" en 3 columnas distintas (provincia, localidad, info extra) y las agregamos al DF

data3[["Provincia","Localidad", "Info_extra"]] = data3["place_with_parent_names"].str.split("|",n=2, expand=True)
data3.loc[:,["Provincia","Localidad", "Info_extra"]]

                           Provincia      Localidad    Info_extra
0                    Capital Federal      Mataderos
1             Bs.As. G.B.A. Zona Sur       La Plata
2                    Capital Federal      Mataderos
3                    Capital Federal        Liniers
4       Buenos Aires Costa Atlántica  Mar del Plata       Centro|
...                              ...            ...           ...
121215               Capital Federal       Belgrano
121216      Bs.As. G.B.A. Zona Norte     San Isidro       Beccar|
121217               Capital Federal  Villa Urquiza
121218  Buenos Aires Costa Atlántica  Mar del Plata  Plaza Colón|
121219               Capital Federal                         None

[115960 rows x 3 columns]

In [25]:
data3.head(5)

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title,Provincia,Localidad,Info_extra
0,PH,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,Capital Federal,Mataderos,
1,apartment,La Plata,Bs.As. G.B.A. Zona Sur|La Plata|,Bs.As. G.B.A. Zona Sur,"-34.9038831,-57.9643295",150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,Bs.As. G.B.A. Zona Sur,La Plata,
2,apartment,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6522615,-58.5229825",72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,Capital Federal,Mataderos,
3,PH,Liniers,Capital Federal|Liniers|,Capital Federal,"-34.6477969,-58.5164244",95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,Capital Federal,Liniers,
4,apartment,Centro,Buenos Aires Costa Atlántica|Mar del Plata|Cen...,Buenos Aires Costa Atlántica,"-38.0026256,-57.5494468",64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,Buenos Aires Costa Atlántica,Mar del Plata,Centro|

In [26]:
#Creamos un nuevo DF con las 3 columnas del df original y con las columnas spliteadas para comparar la info de todas las columnas.

chequeo_data_frame = data3.loc[:,["state_name", "place_name", "place_with_parent_names", "Provincia", "Localidad", "Info_extra"]]
chequeo_data_frame.shape

(115960, 6)

In [27]:
#Creamos una mascara para aquellas propiedades sin Localidad(columna Localidad en blanco) para ver si podemos completar la localidad con la info de las otras columnas.

mask_propiedades_sin_localidad = data3["Localidad"] == ""

#Para corroborar, creamos un DF con aquellas propiedades sin localidad y comparamos las columnas. 
prop_sin_localidad = chequeo_data_frame.loc[mask_propiedades_sin_localidad,:]
prop_sin_localidad

,state_name,place_name,place_with_parent_names,Provincia,Localidad,Info_extra
108,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None
110,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None
115,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None
119,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None
121,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None
...,...,...,...,...,...,...
121200,Córdoba,Córdoba,Córdoba|,Córdoba,,None
121202,Córdoba,Córdoba,Córdoba|,Córdoba,,None
121203,Córdoba,Córdoba,Córdoba|,Córdoba,,None
121205,Córdoba,Córdoba,Córdoba|,Córdoba,,None
121219,Capital Federal,Capital Federal,Capital Federal|,Capital Federal,,None

In [28]:
#Con estas igualdades chequeamos que las columnas tienen la misma info y que no podemos obtener info adicional para completar la localidad de ciertas propiedas.

#son un total de 4402 propiedades sin localidad.

print((prop_sin_localidad["place_name"] == prop_sin_localidad["Provincia"]).all())
print((prop_sin_localidad["state_name"] == prop_sin_localidad["Provincia"]).all())

True
True

In [29]:
#chequeamos si hay propiedades que al haber spliteado "place_with_parent_names" hayan quedado con misma Provincia y Localidad.

print((data3["Provincia"] != data3["Localidad"]).all())

mask_misma_prov_y_localidad = data3["Provincia"] == data3["Localidad"]

print(mask_misma_prov_y_localidad.value_counts())

data3.loc[mask_misma_prov_y_localidad, ["state_name", "place_name", "place_with_parent_names", "Provincia", "Localidad", "Info_extra"]]


#hay 7421 otras propiedades que tienen misma Provincia y Localidad, es decir que no cuentan con Localidad. 
#Total de 12633 propiedades que no cuentan con Localidad especifica, unicamente provincia.

False
False    108539
True       7421
dtype: int64

,state_name,place_name,place_with_parent_names,Provincia,Localidad,Info_extra
10,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
32,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
87,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
88,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
89,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
...,...,...,...,...,...,...
120690,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
120966,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
120971,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
120979,Córdoba,Córdoba,Córdoba|Córdoba|,Córdoba,Córdoba,
121068,Mendoza,Mendoza,Mendoza|Mendoza|,Mendoza,Mendoza,

- ### obtuvimos 4.402 propiedades con la columna "localidad" vacia, y 7.421 que tienen en la columna "localidad" la provincia

In [30]:
#vamos a eliminar esos datos porque creemos fundamental para el analisis tener la localidad del la propiedad. empezamos por los 7.421 que tienen la povincia en la localidad

data3["surface_para_eliminar_prov"] = mask_misma_prov_y_localidad

data4 = data3.drop(data3[data3['surface_para_eliminar_prov']==True].index)

data4.shape

(108539, 20)

- #### vamos a borrar esas propiedades que no tienen localidad o la localidad es igual a la provincia

In [31]:
#ahora vamos a borrar los q estan vacios en localidad

data4["surface_para_eliminar_vacios"] = mask_propiedades_sin_localidad

data5 = data4.drop(data4[data4['surface_para_eliminar_vacios']==True].index)

data5.shape

(104137, 21)

In [35]:
# chequeamos que la columna "Localida" no tenga data vacia

mask_check_sin_localidad = data5["Localidad"] == ""
prop_mask_check_sin_localidad = data5.loc[mask_propiedades_sin_localidad,:]
print(prop_mask_check_sin_localidad.shape)

# chequeamos que la columna "Localida" no tenga igualdad con "Provincia" (tiene q darnos False)

mask_check_prov_y_localidad = data5["Provincia"] == data5["Localidad"]
print(mask_check_prov_y_localidad.value_counts())

(0, 21)
False    104137
dtype: int64

In [34]:
# chequeamos que localidad o provincian tengan nulos

print(data5.isnull().sum())

property_type                       0
place_name                         23
place_with_parent_names             0
state_name                          0
lat-lon                         41420
price                           14500
currency                        14500
price_aprox_local_currency      14500
price_aprox_usd                 14500
surface_total_in_m2             32197
surface_covered_in_m2           15235
price_usd_per_m2                41679
price_per_m2                    25076
rooms                           61792
description                         2
title                               0
Provincia                           0
Localidad                           0
Info_extra                          0
surface_para_eliminar_prov          0
surface_para_eliminar_vacios        0
dtype: int64

In [37]:
#nos quedaron varias columnas que creamos para limpar el dataset y ahora las vamos a borrar

data6 = data5.drop(["surface_para_eliminar_prov","surface_para_eliminar_vacios"], axis = 1)

In [38]:
data6.head()

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title,Provincia,Localidad,Info_extra
0,PH,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,Capital Federal,Mataderos,
1,apartment,La Plata,Bs.As. G.B.A. Zona Sur|La Plata|,Bs.As. G.B.A. Zona Sur,"-34.9038831,-57.9643295",150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,Bs.As. G.B.A. Zona Sur,La Plata,
2,apartment,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6522615,-58.5229825",72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,Capital Federal,Mataderos,
3,PH,Liniers,Capital Federal|Liniers|,Capital Federal,"-34.6477969,-58.5164244",95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,Capital Federal,Liniers,
4,apartment,Centro,Buenos Aires Costa Atlántica|Mar del Plata|Cen...,Buenos Aires Costa Atlántica,"-38.0026256,-57.5494468",64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,Buenos Aires Costa Atlántica,Mar del Plata,Centro|

In [39]:
# chequeamos las columnas que quedaron
print(data6.isnull().sum())

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       41420
price                         14500
currency                      14500
price_aprox_local_currency    14500
price_aprox_usd               14500
surface_total_in_m2           32197
surface_covered_in_m2         15235
price_usd_per_m2              41679
price_per_m2                  25076
rooms                         61792
description                       2
title                             0
Provincia                         0
Localidad                         0
Info_extra                        0
dtype: int64

- ### ahora chequeamos si hay vacios en la columna provincia

In [40]:
# vemos si hay nulos en la columna "provincia" creando una mascara

mask_provincia_vacio = data6["Provincia"] == ""

prop_sin_provincia = data6.loc[mask_provincia_vacio,:]
print(prop_sin_provincia.shape)

(0, 19)

### finamente cosneguimos que todas las propiedades tengan una localidad

In [50]:
#cuantos datos tenemos ahora en data6?

print(data6.shape)
print(data6.isnull().sum())

(104137, 19)
property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       41420
price                         14500
currency                      14500
price_aprox_local_currency    14500
price_aprox_usd               14500
surface_total_in_m2           32197
surface_covered_in_m2         15235
price_usd_per_m2              41679
price_per_m2                  25076
rooms                         61792
description                       2
title                             0
Provincia                         0
Localidad                         0
Info_extra                        0
dtype: int64

## 3)  La clave esta en la columna price per m2 en usd, por eso vamos a enfocarnos ahora en tener la mayor cantidad de datos posibles en esa columna

### 3.1) Arrancamos con la parte de Superficie
- #### vamos tratar de completar los valores que faltan entre las columnas surface total y surface covered

In [51]:
# vemos la cantidad de nulos que tiene la columna total

data6.surface_total_in_m2.value_counts(dropna = False)

NaN        32197
40.0        1497
50.0        1394
60.0        1198
45.0        1185
           ...
1276.0         1
673.0          1
4780.0         1
2246.0         1
18375.0        1
Name: surface_total_in_m2, Length: 1616, dtype: int64

In [52]:
# vemos la cantidad de nulos que tiene la columna covered

data6.surface_covered_in_m2.value_counts(dropna = False)

NaN        15235
40.0        2214
50.0        1899
100.0       1691
45.0        1676
           ...
7722.0         1
1163.0         1
1075.0         1
18615.0        1
9152.0         1
Name: surface_covered_in_m2, Length: 951, dtype: int64

In [53]:
# vemos cuantos valores tenemos en 0 para la columna surface total 

ceros_total_surface = data6['surface_total_in_m2'] == 0
print(ceros_total_surface.value_counts())

False    103779
True        358
Name: surface_total_in_m2, dtype: int64

In [54]:
# vemos cuantos valores tenemos en 0 para la columna surface covered 

ceros_covered_surface = data6['surface_covered_in_m2'] == 0
print(ceros_covered_surface.value_counts())

False    104135
True          2
Name: surface_covered_in_m2, dtype: int64

In [55]:
#cambiamos los valores .NaN por ceros que se suman a la lista de ceros ya existente

data6['total_en_zeros'] = data6['surface_total_in_m2'].fillna(0)
data6['covered_en_zeros'] = data6['surface_covered_in_m2'].fillna(0)

In [56]:
#vemos la cantidad de 0 que tienen ahora la columna total surface

ceros_total_mask = data6['total_en_zeros'] == 0
ceros_total_mask.value_counts()

ceros_total_print = data6[ceros_total_mask]
print('la cantidad de ceros que tiene la coluna surface_total es ',ceros_total_print.shape[0])

la cantidad de ceros que tiene la coluna surface_total es  32555

In [57]:
#vemos la cantidad de 0 que tienen ahora la columna covered surface

ceros_covered_mask = data6['covered_en_zeros'] == 0
ceros_covered_mask.value_counts()

ceros_covered_print = data6[ceros_covered_mask]
print('la cantidad de ceros que tiene la coluna surface_covered es ',ceros_covered_print.shape[0])

la cantidad de ceros que tiene la coluna surface_covered es  15237

In [58]:
#vamos a ver una description de cada columna 

print(data6["covered_en_zeros"].describe(), '\n')

print(data6["total_en_zeros"].describe(), '\n')

count    104137.000000
mean        114.479234
std         706.118309
min           0.000000
25%          35.000000
50%          63.000000
75%         134.000000
max      187000.000000
Name: covered_en_zeros, dtype: float64

count    104137.000000
mean        157.171745
std        1071.729822
min           0.000000
25%           0.000000
50%          53.000000
75%         136.000000
max      154438.000000
Name: total_en_zeros, dtype: float64

- #### vamos a calcular los valores que tienen 0 en las dos columnas

In [59]:
mask_covered_ceros = data6["covered_en_zeros"] == 0
mask_total_ceros = data6["total_en_zeros"] == 0

mask_ambas_columnas_cero = data6[data6.covered_en_zeros.isin(mask_covered_ceros) &~ data6.total_en_zeros.isin(mask_total_ceros)]

mask_ambas_columnas_cero.shape

print('la cantidad de ceros en ambas columnas es ',mask_ambas_columnas_cero.shape[0])

la cantidad de ceros en ambas columnas es  5728

- #### esto equivale a que % de ceros en cada columna?

In [60]:
# para la columna covered es:

porcentaje_ambos_ceros_covered = mask_ambas_columnas_cero.shape[0]/ceros_covered_print.shape[0]
porcentaje_ambos_ceros_covered

0.37592701975454484

In [61]:
# para la columna total es:

porcentaje_ambos_ceros_total = mask_ambas_columnas_cero.shape[0]/ceros_total_print.shape[0]
porcentaje_ambos_ceros_total

0.17594839502380585

- #### por lo que vimos, la columna covered esta mucho mas completa que la de total surface. Pero tenemos datos que esten en covered pero no en total?

In [62]:
# vamos a caluclar los valores con un 1 q tienen valor en total pero no tienen valot en covered

covered_vs_total = data6.apply(lambda x : 1 if x['total_en_zeros']!= 0 and x['covered_en_zeros'] == 0 else 0, axis=1)
covered_vs_total.value_counts()

0    98505
1     5632
dtype: int64

##### *lo que estamos diciendo aca es que, de un total de 0s de 15.237 en la columna covered_surface, vamos a tener q imputar valores a 5.632 datos, osea que al final me tienen que quedar 9.605 datos con 0*

In [64]:
# vamos a caluclar los valores con un 1 q tienen valor covered pero no tienen valot en total

covered_vs_total_1 = data6.apply(lambda x : 1 if x['total_en_zeros']== 0 and x['covered_en_zeros'] != 0 else 0, axis=1)
covered_vs_total_1.value_counts()

0    81187
1    22950
dtype: int64

##### *lo que estamos diciendo aca es que, de un total de 0s de 32.555 en la columna total_surface, vamos a tener q imputar valores a 22.950 datos, osea que al final me tienen que quedar 9.605 datos con 0*

- #### ahora vamos a crear un ratio que me diga los m2 totales sobre m2 cubiertos para cada tipo de propiedad. Luego vamos a aplicar ese ratio a los valores que completemos

In [65]:
#vemos los tipos de propiedad y la cantidad q tiene cada una

data6.property_type.value_counts(dropna = False)

apartment    59443
house        35932
PH            5225
store         3537
Name: property_type, dtype: int64

In [66]:
#Creamos función para hacer el promedio de total vs covered según el tipo de propiedad

def average_in(prop):
    property_type = data6['property_type'] == prop
    average_type = data6[property_type]
    average = average_type.apply(lambda x : np.nan if x['total_en_zeros'] == 0 or x['covered_en_zeros'] == 0 else x['total_en_zeros']/x['covered_en_zeros'], axis = 1)
    return average.mean()

ap = 'apartment'
ho = 'house'
ph = 'PH'
st = 'store'

ratio_ap = average_in(ap)
ratio_ho = average_in(ho)
ratio_ph = average_in(ph)
ratio_st = average_in(st)

print('Ratio Apartment:', ratio_ap)
print('Ratio House:', ratio_ho)
print('Ratio PH:', ratio_ph)
print('Ratio Store:', ratio_st)

Ratio Apartment: 1.290216293123707
Ratio House: 3.899153191832713
Ratio PH: 1.5159413564457624
Ratio Store: 1.7260272555881724

- #### ya tenemos los ratios para cada tipo de propiedad y ahora podemos completar los valores de surface total con esos ratios cuando solo tengamos el valor de surface covered

In [67]:
# imputamos los APARTMENT con surface_total en cero y con dato en covered 

total_ap = data6.apply(lambda x : (x['covered_en_zeros']*ratio_ap) if x['total_en_zeros']== 0 and x['covered_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_total = total_ap + data6['total_en_zeros']

apartment_total.value_counts()

0.0        20990
40.0        1497
50.0        1394
60.0        1198
45.0        1185
           ...
3291.0         1
1555.0         1
1389.0         1
11111.0        1
1038.0         1
Length: 1960, dtype: int64

In [68]:
# imputamos los APARTMENT con surface_covered en cero y con dato en total 


covered_ap = data6.apply(lambda x : (x['total_en_zeros']/ratio_ap) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_covered = covered_ap + data6['covered_en_zeros']
apartment_covered.value_counts()

0.0       11749
40.0       2214
50.0       1899
100.0      1691
45.0       1676
          ...
1967.0        1
499.0         1
1880.0        1
5335.0        1
1415.0        1
Length: 1194, dtype: int64

In [69]:
## imputamos los HOUSES con surface_total en cero y con dato en covered 

total_ho = data6.apply(lambda x : (x['covered_en_zeros']*ratio_ho) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_total = total_ho + data6['total_en_zeros']
house_total.value_counts()

0.0       23387
40.0       1497
50.0       1394
60.0       1198
45.0       1185
          ...
3979.0        1
2503.0        1
957.0         1
3880.0        1
1038.0        1
Length: 2200, dtype: int64

In [70]:
# imputamos los HOUSES con surface_covered en cero y con dato en tot 


covered_ho = data6.apply(lambda x : (x['total_en_zeros']/ratio_ho) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_covered = covered_ho + data6['covered_en_zeros']
house_covered.value_counts()

0.000000       13697
40.000000       2214
50.000000       1899
100.000000      1691
45.000000       1676
               ...
282.112537         1
44.368608          1
628.341560         1
150.545509         1
2060.000000        1
Length: 1388, dtype: int64

In [71]:
# imputamos los PH con surface_total en cero y con dato en covered 


total_ph = data6.apply(lambda x : (x['covered_en_zeros']*ratio_ph) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_total = total_ph + data6['total_en_zeros']
ph_total.value_counts()

0.0       31111
40.0       1497
50.0       1394
60.0       1198
45.0       1185
          ...
968.0         1
854.0         1
863.0         1
1144.0        1
1038.0        1
Length: 1799, dtype: int64

In [72]:
# imputamos los PH con surface_covered en cero y con dato en total 


covered_ph = data6.apply(lambda x : (x['total_en_zeros']/ratio_ph) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_covered = covered_ph + data6['covered_en_zeros']
ph_covered.value_counts()

0.000000       15016
40.000000       2214
50.000000       1899
100.000000      1691
45.000000       1676
               ...
3291.000000        1
91.692201          1
823.000000         1
945.000000         1
6534.000000        1
Length: 1060, dtype: int64

In [73]:
# imputamos los STORES con surface_total en cero y con dato en covered 


total_st = data6.apply(lambda x : (x['covered_en_zeros']*ratio_st) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_total = total_st + data6['total_en_zeros']
store_total.value_counts()

0.000000       31782
40.000000       1497
50.000000       1394
60.000000       1198
45.000000       1185
               ...
782.000000         1
828.493083         1
657.000000         1
674.876657         1
2934.246334        1
Length: 1863, dtype: int64

In [74]:
# imputamos los STORES con surface_covered en cero y con dato en total 


covered_st = data6.apply(lambda x : (x['total_en_zeros']/ratio_st) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_covered = covered_st + data6['covered_en_zeros']
store_covered.shape

(104137,)

In [75]:
#creamos las columnas en el dataframe 

data6['covered_imputados'] = covered_st + covered_ph + covered_ho + covered_ap + data6['covered_en_zeros']
data6['total_imputados'] = total_st + total_ph + total_ho + total_ap + data6['total_en_zeros']

In [76]:
#vemos los valores en 0 para la columna covered

covered_zeros_final_1 = data6['covered_imputados'] == 0
covered_zeros_final_1.value_counts()

False    94532
True      9605
Name: covered_imputados, dtype: int64

In [77]:
#vemos los valores en 0 para la columna total

total_zeros_final_1 = data6['total_imputados'] == 0
total_zeros_final_1.value_counts()

False    94532
True      9605
Name: total_imputados, dtype: int64

##### *finalmente llegamos al valor q estabamos esperando de 9.605 datos con valor 0 en cada columna*

## 3.2) Vamos a seguir completando datos de superficie pero vamos a ver si hay info en la columna "description"

In [ ]:
import re

#### Lo que descubrimos es que los valores de price per m2 en usd es diferente que los de price per m2, porque uno toma la superficie total y el otro la superficie covered. Por eso debemos crear una sola columna de price per m2 en usd, unificando criterios. vamos a dividir la columna price aprox usd por los m2 totales. para eso tenemos q terminar de completar la columna surface total.

In [78]:
# arrancamos creando una busqueda de la palabra metros y el valor que tiene previamente

patron_valor_metros = '(?P<valor_mts>\d{0,4} ?)(?P<metros>m2|mts|mt|mts2|mt2)'
patron_regex_metros = re.compile(patron_valor_metros, re.IGNORECASE)

valor_mts_match = data6["description"].apply(lambda x:x if x is np.NaN else patron_regex_metros.search(x).group("valor_mts") if patron_regex_metros.search(x)!=None else np.NaN)

data6['metros_description'] = valor_mts_match
data6['metros_description'].unique()

array([nan, '106 ', '40 ', ..., '697 ', '803 ', '1346 '], dtype=object)

In [80]:
data6["metros_description"].value_counts()

         1912
50        943
80        682
100       658
40        574
         ...
0270        1
457         1
1118        1
1375        1
1351        1
Name: metros_description, Length: 2028, dtype: int64

In [81]:
#ensanchamos la columna description para poder comparar los regex encontradas y la columna "description"
pd.set_option("display.max_colwidth",1000)

#Hay ciertos datos que el regex nos trae con espacio en blanco pero no pudimos econtrar el motivo.
mascara_espacios_blanco = data6["metros_description"] == ""
data6.loc[mascara_espacios_blanco,["metros_description","description"]].head()

,metros_description,description
214,,"Zona residencial consolidad; con oferta gastronómica, comercial, colegios, facultades, rápida salida a las autopistaCentro geográfico de CABAcocina integradacocina a gaspisos de porcelanatogriferia FVmuebles de cocina (alacena y bajo mesada)mesada de granitocortinas de enrollar en el dormitorio de aluminioplacard con puertas corredizas e interiores terminadoscalefacción por aire F/C instaladocerramientos de aluminiobalcónAgua caliente centralOrientacion Este, sol de mañanaespacio lavaderoAmenities:SUM ParrillaSolariumTransportes:Colectivos: 1, 2, 5, 8, 25, 26, 36, 44, 49, 53, 55, 76, 85, 86, 88, 96, 103, 104, 126, 132, 134, 136, 141, 163, 180Subtes (Metro): PUAN (Línea A)Trenes: CABALLITO (SARMIENTO)"
217,,"Zona residencial consolidad; con oferta gastronómica, comercial, colegios, facultades, rápida salida a las autopistaCentro geográfico de CABAcocina integradacocina a gaspisos de porcelanatogriferia FVmuebles de cocina (alacena y bajo mesada)mesada de granitocortinas de enrollar en el dormitorio de aluminioplacard con puertas corredizas e interiores terminadoscalefacción por aire F/C instaladocerramientos de aluminiobalcónAgua caliente centralOrientación Este, sol de mañanaespacio lavaderoAmenities:SUM ParrillaSolariumTransportes:Colectivos: 1, 2, 5, 8, 25, 26, 36, 44, 49, 53, 55, 76, 85, 86, 88, 96, 103, 104, 126, 132, 134, 136, 141, 163, 180Subtes (Metro): PUAN (Línea A)Trenes: CABALLITO (SARMIENTO)"
826,,"Venta de Casa 3 AMBIENTES en Boulogne, San Isidrocasa en planta baja 2 dormitorios baño completo living y cocina comedorlavadero quincho y parrilla patio con pileta plástica y solariumterraza - - DANIEL A. FIORITO PROPIEDADES"
983,,"Corredor Responsable: Marcelo Trujillo - CUCICBA 6470 / CMCPDJLM 810Contacto: Cristian Saladdino - MLS ID # 420261016-115Fecha de Entrega de todas las Unidades / Septiembre 2017 TOMAMOS a la Venta PROPIEDADES en parte de pago AQUAREL XIX - TERRERO 860- Terminaciones y Calidades Constructivas Pisos Porcellanato en ambientes baños y cocinas y Pisos con cerámicos Cerro Negro, San Lorenzo y/o similar en balcones Porcellanato en los Palieres y entrada del Edificio .- Cielorrasos : Aplicados de yeso Con bañas y armados en baños y sectores cocina Revoques : Yeso en interiores de los departamentos y palieres. En El resto de las partes comunes del Edificio fino a la ca. Terminaciones en el exterior del Edificio con salpicado plástico tipo Quimtex y/o similar .- Carpintería : Interiores Marcos de chapa doblado BMG 18 y hojas de Placa de madera mdf para pintar, herrajes tipo sanatorio pesado o similar Exteriores Marcos y Hojas de aluminio anodizado color natural tipo Modena o similar..."
984,,"Corredor Responsable: Marcelo Trujillo - CUCICBA 6470 / CMCPDJLM 810Contacto: Cristian Saladdino - MLS ID # 420261016-117Fecha de Entrega de todas las Unidades / SEPTIEMBRE2017 TOMAMOS a la Venta PROPIEDADES en parte de pago AQUAREL XIX - TERRERO 860- Terminaciones y Calidades Constructivas Pisos Porcellanato en ambientes baños y cocinas y Pisos con cerámicos Cerro Negro, San Lorenzo y/o similar en balcones Porcellanato en los Palieres y entrada del Edificio .- Cielorrasos : Aplicados de yeso Con bañas y armados en baños y sectores cocina Revoques : Yeso en interiores de los departamentos y palieres. En El resto de las partes comunes del Edificio fino a la ca. Terminaciones en el exterior del Edificio con salpicado plástico tipo Quimtex y/o similar .- Carpintería : Interiores Marcos de chapa doblado BMG 18 y hojas de Placa de madera mdf para pintar, herrajes tipo sanatorio pesado o similar Exteriores Marcos y Hojas de aluminio anodizado color natural tipo Modena o similar...."

In [82]:
#En muchos casos el patron es correcto, y en otros casos agarra los metros cuadrados de otro objeto que no es el terreno. Por una cuestion de tiempos lo dejamos asi.

metros_description_not_null = data6['metros_description'].notnull()
data6.loc[metros_description_not_null,["metros_description","description"]].head(10)

,metros_description,description
6,106,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO - CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
18,40,"Casa sobre lote al golf en barrio San Isidro Labrador.Planta Baja:Amplio Living comedor en doble altura,Toilette,Cocina comedor, Family/Escritorio, Lavadero, dependencia de servicio, Galería cubierta y semi cubierta.Planta Alta:Master Suite con ducha escocesa e hidromasajes doble, tres dormitorios, Baño, Escritorio y Placar de Blanco.Todos los pisos son de porcelanato.Losa Radiante en todos los ambientes y galería.Piscina con espejo de agua de 40 m2."
22,1000,"Edificada en 2 plantas. PB. amplio living con salida al parque, cocina con salida a la galería, todos los ambientes de pb con pisos de porcelanato. Toilet de recepción, lavadero, galería con parrilla. Amplio jardín de 1000 m2.PA: 3 dormitorios con pisos de porcelanato, uno de los cuales es en suite con vestidor, 2 baños completos. Hermosa vista abierta desde toda la planta alta. Muy luminosa! hermoso hogar a leña en el living. Cálida y acogedora.calefaccion por radeadores.la casa se encuentra en construcción, entrega terminada y pintada. No incluye mobiliario de cocinaEl barrio cuenta con una completa infraestructura de servicios y propuestas deportivas y la posibilidad de vivir en un entorno seguro y rodeado de espacios verdes.Las 365 hectáreas que lo conforman están desarrolladas en 906 lotes de 1350m2 en promedio, lo que ofrece un privilegiado entorno natural y un particular microclima que se logró destinando para lotes solo el 30% de la superficie del lugar.Actividades D..."
24,160,"EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORIA EN VENTA EN CASTELAR160 MTS2 Cubiertos. 4 ambientes con balcón terraza, parrilla y cochera. Entrega marzo 2018.EL PRECIO PUBLICADO CORRESPONDE AL VALOR DE CONTADO para las unidades de primer y segundo piso. FINANCIACION: ANTICIPO USD71.000, USD 105.000 A LA ESCRITURA Y EL RESTO FINANCIADO EN 36 CUOTAS (con refuerzos semestrales) VALOR FINANCIADO USD 380.940Piso con Palier privado con puerta de seguridad y entrada de servicio. Linving comedor , 3 dormitorios uno de los cuales es en suite con ducha escocesa, con vestidor. Otros 2 dormitorios con placars que comparten un baño completo con bañera. pisos de madera en dormitorios y living comedor, pisos de porcelanato en pasillos y cocina. ventanas de aluminio con DVH (doble vidrio hermético) en todo el depto. Cocina completa (con cocina vitroceramica, horno eléctrico, microondas, heladera con frezzer, cafetera express todos marca BGH), despensa y lavadero. Toilete, balcón terraza co..."
25,160,"EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA EN VENTA EN CASTELAR160 MTS2 Cubiertos. 4 ambientes con balcón terraza, parrilla y cochera. Entrega marzo 2018.EL PRECIO PUBLICADO CORRESPONDE AL VALOR DE CONTADO para las unidades de tercer y cuarto piso. FINANCIACIÓN: ANTICIPO USD 71.800, USD106.000 A LA ESCRITURA Y EL RESTO FINANCIADO EN 36 CUOTAS (con refuerzos semestrales) VALOR FINANCIADO USD 385.640Piso con Palier privado con puerta de seguridad y entrada de servicio. Linving comedor , 3 dormitorios uno de los cuales es en suite con ducha escocesa, con vestidor. Otros 2 dormitorios con placars que comparten un baño completo con bañera. pisos de madera en dormitorios y living comedor, pisos de porcelanato en pasillos y cocina. ventanas de aluminio con DVH (doble vidrio hermético) en todo el depto. Cocina completa (con cocina vitroceramica, horno eléctrico, microondas, heladera con frezzer, cafetera express todos marca BGH), despensa y lavadero. Toilete, balcón terraza con..."
28,160,"EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA EN VENTA EN CASTELAR160 MTS2 Cubiertos. 4 ambientes con balcón terraza, parrilla y cochera. Entrega marzo 2018.EL PRECIO PUBLICADO CORRESPONDE AL VALOR DE CONTADO para las unidades del quinto, sexto y séptimo piso. FINANCIACIÓN: ANTICIPO USD 72.500, USD 107.000 A LA ESCRITURA EL RESTO FINANCIADO EN 36 CUOTAS (con refuerzos semestrales) VALOR FINANCIADO USD 390.700Piso con Palier privado con puerta de seguridad y entrada de servicio. Linving comedor , 3 dormitorios uno de los cuales es en suite con ducha escocesa, con vestidor. Otros 2 dormitorios con placars que comparten un baño completo con bañera. pisos de madera en dormitorios y living comedor, pisos de porcelanato en pasillos y cocina. ventanas de aluminio con DVH (doble vidrio hermético) en todo el depto. Cocina completa (con cocina vitroceramica, horno eléctrico, microondas, heladera con frezzer, cafetera express todos marca BGH), despensa y lavadero. Toilete, balcón terr..."
35,,"Hermoso departamento de cuatro ambientes, refaccionado totalmente a nuevo tanto en los ambientes como en las instalaciones de gas, agua y electricidad. Segundo piso por escalera. Madera de primera calidad en todos los ambientes, el living está conectado con un balcón al frente. La habitación principal posee un balcón francés. Aire acondicionado y placard escosol.Es apto crédito hipotecario!No pierdas la oportunidad de ver esta propiedad!Se deja constancia que las medidas, superficies y m2 consignados son aproximados, al igual que las expensas que pueden estar sujetos a verificación y/o ajuste. El precio del inmueble puede ser modificado sin previo aviso, las fotos de carácter no contractual"
40,138,"LINDÍSIMO DEPARTAMENTO EN VENTA, 3 AMBIENTES CON TERRAZA Y PARRILLA, A ESTRENAR EN CONDOMINIO TORTUGAS 3 - QUINTA LA JIMENA. ÚLTIMAS UNIDAD! OPORTUNIDAD!ENTREGA: ABRIL 2017Superficie total: 138 m2Superficie cubierta: 74 m2Superficie semi-cubierta: 14 m2Superficie descubierta: 50 m2 (Jardín Privado con vista a la pileta del Condominio)El departamento cuenta con:- 2 dormitorios: (3.40x3.20) y (3.20x3.20)- Baño completo con bañadera (2.88x.1.70) - (posibilidad de agregar Toilette-consulte)- Cocina integrada (2.75x2.4) con mesadas de granito, alacena y mueble bajo mesada. Espacio para lavavajillas/lavarropas y espacio para horno.- Estar comedor (6x4)- Galería (4x3.5) con parrilla individual- Jardín Privado con vista a la pileta del Condominio- Cochera fija descubiertaCaracterísticas constructivas:Revestimiento exterior: TarquiniPisos: Porcellanato MateAberturas: Aluminio anodizado PVC vidrio simplePreparados con la instalación de splits en todos los ambientesFrentes de placardsGrifería..."
45,30,"Hermoso monoambiente, ideal Profesional!!!Apartamentos del Campus tiene su ingreso por la Ruta 234 Av. Teniente General Juan Domingo Perón.Al ingresar nos encontramos con un living-comedor , cocina separada y baño.Características generales:Superficie total y cubierta del departamento: 30 m2Superficie total y cubierta de cochera y baulera 16m2Ubicación: FrenteDpto. con mejoras importantes!! El mismo posee una comoda cocina , y baño ampliado con ducha y mampara.division con mueble para dormitorio y living comedor , amplio placard con puertas espejadas que le da amplitud.Cielorraso con luces dicroicas.Estado Impecable!!!!Antigüedad: El edificio tiene 8 años. Servicios:, Luz, agua corriente, cloacas, agua caliente, Split F/C.Ventiladores de techo.No tiene gas, todo eléctrico.Apto profesional: SiPisos: CerámicoDoble VidrioTipo de edificio: CondominioDescripción Condominio:Esta urbanización se encuentra ubicada en Pilar, con acceso por Autopista Panamericana Ramal Pilar, hasta la ruta 23..."
48,34,"PISO 13, Orientación norte, disposición al frente. Consta de living (6,30x 3,60) comedor (2,30 x2,10)Piso de parquet.salida a balcón aterrazado .Hall de distribución placards 2 dormitorios 3x2,80 con placards, baño con bañadera y toilette. cocina comedor(alacenas, mesada de mármol,doble bacha,espacio para lavarropa). Superficie cubierta:74,34m2 sup descubierta: 15m2//Superficie TOT piso 13 :89,39 PISO 14 consta de hall de distribución con placards , 2 dormitorios con placards (3x 2, 95)salida a Balcon y baño.Sup.cub 33,75 ,Total 35m2 SuperficieTOTAL:124,57 mc totales· Detalles: Pisos de parquette (en perfecto estado) en LC y dormitorios, cerámica en cocina y baños. Bien de pintura. Baño en buen estado .MUY Luminoso. Muy buenos placards. Unidad en muy buen estado, 3 bauleras.Cochera fija (OPCIONAL, no incluida en el precio)"

In [83]:
#Reemplazamos los ceros por nulos en "total_imputados" y vemos la cantidad de nulos que tenemos. esto lo hacemos para poder trabajar mejor esta columna

data6['total_imputados'] = data6['total_imputados'].replace(0, np.nan)
data6["total_imputados"].isnull().sum()

9605

- ### Aquellos valores nulos de "total imputados" vamos a reemplazarlos con aquellos datos obtenidos en la columna "metros_description"¶

In [85]:
# creamos una mascala de nulos en total imputados 

mask_nulos_total_imputados = data6["total_imputados"].isnull()
data6.loc[mask_nulos_total_imputados,["total_imputados","metros_description"]].sample(10)

       total_imputados metros_description
70174              NaN                NaN
79857              NaN                NaN
60168              NaN                 41
28969              NaN                 75
72355              NaN                NaN
35098              NaN                95
1402               NaN                 4
10123              NaN                NaN
77625              NaN                NaN
63496              NaN                NaN

In [88]:
# completamos los datos nulos de total por el valor en metros description

data6["total_imputados"].fillna(data6["metros_description"], inplace=True)

#Comprobamos como se redujo la cantidad de nulos en total_imputados
print(data6["total_imputados"].isnull().sum())

6823

- #### como podemos ver, pasamos de 9.605 propiedades sin superficie, a 6.823

- ### 3.3) Ahora vamos a eliminar las propiedades que quedaron nulas sin superficie

In [92]:
#sabemos que son 6.823 propiedades. Vamos a calcular ahora de cuantas filas nos deberia quedar el dataset

print('tenemos ', data6.shape[0], ' filas y luego de eliminar las propiedades sin superficie, deberiamos tener ',data6.shape[0] - data6["total_imputados"].isnull().sum(), ' filas')

tenemos  104137  filas y luego de eliminar las propiedades sin superficie, deberiamos tener  97314  filas

In [95]:
# borramso los nulos de la columna total imputados
data7 = data6.dropna(subset = ["total_imputados"])


# chequeamos que no tenga mas nulos esa columna
print(data7["total_imputados"].isnull().sum())

#chequeamos que las filas del dataset sean las que estimamos = 97.314 propiedades

print(data7.shape)

0
(97314, 24)

In [97]:
data7.head()

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,...,description,title,Provincia,Localidad,Info_extra,total_en_zeros,covered_en_zeros,covered_imputados,total_imputados,metros_description
0,PH,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",2 AMB TIPO CASA SIN EXPENSAS EN PB,Capital Federal,Mataderos,,55.0,40.0,40.000000,55,NaN
2,apartment,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6522615,-58.5229825",72000.0,USD,1270404.0,72000.0,55.0,...,"2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,Capital Federal,Mataderos,,55.0,55.0,55.000000,55,NaN
4,apartment,Centro,Buenos Aires Costa Atlántica|Mar del Plata|Centro|,Buenos Aires Costa Atlántica,"-38.0026256,-57.5494468",64000.0,USD,1129248.0,64000.0,35.0,...,"DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL, AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS, 1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA MITRE,Buenos Aires Costa Atlántica,Mar del Plata,Centro|,35.0,35.0,35.000000,35,NaN
5,house,Gualeguaychú,Entre Ríos|Gualeguaychú|,Entre Ríos,"-33.0140714,-58.519828",NaN,NaN,NaN,NaN,53.0,...,"Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).","Casa Barrio 338. Sobre calle 3 de caballería, casi Nágera. Dos habit. Muy buen estado, patio con tapiales.",Entre Ríos,Gualeguaychú,,53.0,0.0,13.592695,53,NaN
6,PH,Munro,Bs.As. G.B.A. Zona Norte|Vicente López|Munro|,Bs.As. G.B.A. Zona Norte,"-34.5329567,-58.5217825",130000.0,USD,2293785.0,130000.0,106.0,...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO - CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO, EXCELENTE UBICACION EN MUNRO",Bs.As. G.B.A. Zona Norte,Vicente López,Munro|,106.0,78.0,78.000000,106,106

- ### 3.4) Vamos a borrar las columnas que no usamos mas

In [98]:
data7.isnull().sum()

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       39324
price                         12197
currency                      12197
price_aprox_local_currency    12197
price_aprox_usd               12197
surface_total_in_m2           25592
surface_covered_in_m2          8412
price_usd_per_m2              34856
price_per_m2                  18253
rooms                         57256
description                       1
title                             0
Provincia                         0
Localidad                         0
Info_extra                        0
total_en_zeros                    0
covered_en_zeros                  0
covered_imputados                 0
total_imputados                   0
metros_description            61589
dtype: int64

In [99]:
# borramos las columnas 

data8 = data7.drop(["total_en_zeros","covered_en_zeros", "metros_description", "Info_extra"], axis = 1)

In [100]:
# chequeamos las columnas que tenemos

data8.isnull().sum()

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       39324
price                         12197
currency                      12197
price_aprox_local_currency    12197
price_aprox_usd               12197
surface_total_in_m2           25592
surface_covered_in_m2          8412
price_usd_per_m2              34856
price_per_m2                  18253
rooms                         57256
description                       1
title                             0
Provincia                         0
Localidad                         0
covered_imputados                 0
total_imputados                   0
dtype: int64

In [101]:
data8.shape

(97314, 20)

- ### 3.5) Vamos a crear finalmente la columna de precio en usd por m2

In [144]:
# para eso, tenemos que asegurarnos que la columna total_imputados sean todos datos float

data8['total_imputados'] = data8['total_imputados'].replace(' ', np.nan)

print(data8['total_imputados'].isnull().sum())

data8['total_imputados'].value_counts()

100

40.000000      1565
50.000000      1495
60.000000      1242
45.000000      1231
30.000000      1093
               ...
1634.000000       1
797.353669        1
2343.391068       1
2756.000000       1
2934.246334       1
Name: total_imputados, Length: 3012, dtype: int64

In [140]:
# creamos una serie para convertirlo en floats

import pandas as pd

serie_numeros_total_imputados = pd.to_numeric(data8['total_imputados'])

In [141]:
data8['total_imputados'] = serie_numeros_total_imputados

data8['total_imputados'].shape

(97314,)

In [146]:
#tenemos que eliminar nuevamente los nulos que estaban con espacio

print(data8['total_imputados'].isnull().sum())

data9 = data8.dropna(subset = ["total_imputados"])

print(data9['total_imputados'].isnull().sum())

100
0

In [151]:
#eliminamos esas 100 filas que estaban con un espacio como valor y vemos como quedo el data frame

data9.shape

(97214, 21)

In [159]:
# creamos la columna de precio por m2 en usd dividiendo la columna de precio en usd por la que ya tenemos completa de total imputados

data9.loc[:,"final_price_usd_m2"] = data9["price_aprox_usd"] / data9["total_imputados"]

In [160]:
data9.head(1)

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,...,price_usd_per_m2,price_per_m2,rooms,description,title,Provincia,Localidad,covered_imputados,total_imputados,final_price_usd_m2
0,PH,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,...,1127.272727,1550.0,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",2 AMB TIPO CASA SIN EXPENSAS EN PB,Capital Federal,Mataderos,40.0,55.0,1127.272727

In [163]:
data9.isnull().sum()

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       39290
price                         12174
currency                      12174
price_aprox_local_currency    12174
price_aprox_usd               12174
surface_total_in_m2           25501
surface_covered_in_m2          8312
price_usd_per_m2              34756
price_per_m2                  18153
rooms                         57189
description                       1
title                             0
Provincia                         0
Localidad                         0
covered_imputados                 0
total_imputados                   0
final_price_usd_m2            12174
dtype: int64

- ### finalmente creamos la columna "final_price_usd_m2" que es la columna con todos los valores por m2 pero con los 12.174 nulos que son los que no tienen precio

In [183]:
data9.shape

(97214, 26)

# 4) Trabajamos sobre rejex para descubrir otras conexiones al precio

In [164]:
#vamos a separar la columna "description" para analizarla sola

data_description = data9["description"]

data_description.head(5)

0                                                                                                                                                                                                                                                                                                                                          2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                                                                                                                                                                                                                                                                                                                                                                    2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                                                                                                                                                                                                                                                                                                                                                             DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
5    Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
6                                                                                                              MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN  PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO -  CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL                                                 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
Name: description, dtype: object

In [165]:
#vamos a ver los que son nulos

data_description_null = data_description.isnull()
print("hay ",data_description_null.sum(), "valores nulos")

#identificamos las dos filas q tienen valores nulos en "description"
data_description_null = data9[data9.description.isnull()]
data_description_null

hay  1 valores nulos

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,...,price_usd_per_m2,price_per_m2,rooms,description,title,Provincia,Localidad,covered_imputados,total_imputados,final_price_usd_m2
96691,apartment,San Fernando,Bs.As. G.B.A. Zona Norte|San Fernando|,Bs.As. G.B.A. Zona Norte,NaN,98000.0,USD,1729161.0,98000.0,NaN,...,NaN,1781.818182,NaN,NaN,Departamento - San Fernando,Bs.As. G.B.A. Zona Norte,San Fernando,55.0,70.961896,1381.02285

- ### 4.1) buscamos las propiedades que fueron refaccionadas

In [200]:
#vamos a buscar la palabra "refaccionado" ya que podria afectar el precio al ser un departamento mejorado. estos datos los ingresamos en la columna nueva de "refaccionados"

import re

data9["refaccionado"] = data9.description.str.contains(r'(?i)refac|refaccionado')
print(data9[["description","refaccionado"]].head(3))

                                                                                                                                                                                                                                                                                                                                       description  \
0  2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                            2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                     DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).

   refaccionado
0          True
2         False
4         False

<ipython-input-200-2ad0d3fd4d45>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["refaccionado"] = data9.description.str.contains(r'(?i)refac|refaccionado')

In [170]:
#ahora tenemos todos los refaccionados como True en la columna "refaccionados", vamos a ver cuantos departamentos refaccionados hay
#para eso definimos como 0 a las propiedades q no son 'refaccionadas' y como 1 las que si

data_refaccionado_column =  data9.apply(lambda x: 0 if x.refaccionado == False else 1, axis=1)

print(data_refaccionado_column.value_counts())

data9["refaccionado"] = data_refaccionado_column

0    95543
1     1671
dtype: int64

<ipython-input-170-d65f0d6ed11b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["refaccionado"] = data_refaccionado_column

#### podemos decir q tenemos 1.671 propiedades que estan refaccionadas

- ### 4.2) buscamos las propiedades que tienen pileta

In [171]:
#ahora vamos a buscar los q tienen pileta

data9["pileta"] = data9.description.str.contains(r'(?i)pileta|piscina')
print(data9[["description","pileta"]])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    description  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
5                                                                                                                                                                                                                                                                                                                                                         Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                   MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN  PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO -  CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL                                                 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
121214                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ***VENTA CON RENTA***Local en EDIFICIO lomas Park muy bien ubicado.Muy buen local súper luminoso,amplio salón de ventas y atención al público. Privado.2 baños. Kichinette. 3 Cocheras cubiertas. Estacionamiento de cortesía.VENTA CON RENTA: ALQUILADO A SEARCH SEGURIDAD Contrato por 5 años. Inicio Diciembre 2014 . Con proyección de quedarse, alquilan además  oficinas en el piso de arriba. Actualmente valor de Alquiler: U$S 1.338. -Para el 4to. año U$S 1.471.-Para el 5to. año U$S 1.619.-
121215                                                                                                                                                                                                                                                                                         TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecable Departamento.Living comedor, toilette de recepción, con salida a un Balcón aterrazado con parrilla y mesa.2 dormitorios en suite, principal con vestidor.Cochera fijaOpción a compra de la segunda cochera.-Seguridad 24hs.-El complejo posee pileta de natación descubierta y pileta climatizada cubierta, Cancha de tenis cubierta y otra cancha de tenis descubierta, quincho con parrilla, gran salón de fiestas, plaza para chicos y micro cine. Las medidas, superficies y expensas consignadas en la presente descripción son aproximadas, a solo título orientativo y no son vinculantes. Las medidas y superficies reales surgen del Título respectivo. FEDERICO GALCERAN PROPIEDADES
121216  Excelente e impecable casa en Venta en Las Lomas de San Isidro.Construida por el Arq. Turienzo.12m de frente en una excelente manzana con mucha vegetación, muy buen acceso a 1 1/2 cuadra de Marquez y la entrada al Jockey club.En Planta superior:- Entrada principal a hall y entrada de servicio a la cocina- Toilette y placard de recepción- Muy buen living comedor con hogar, ventilación cruzada al frente y al jardin.- Amplia cocina con comedor diario- 3 Dormitorios 2 con placard de 3,50 x 3,50 y Suite ppal de 3,70 x 4,70 con vestidor de 2,95 x 2,45 y baño con Hidromasaje- Baño completoEn Planta inferior- Estar o Playroom con hogar a leña- Salon comedor - Cocina para el sector Play y Quincho- Baño completo- Pequeño taller- Sala de Maquinaria- Garage para 2 autos- Dependencia con su baño- Salida a al sector parrillaExterior:- Jardín al frente, laterales y al fondo- Muy buena pileta de 9 x 4- Pulmón de Manzana con variada vegetaciónToda la casa construida con excelente calidad y totalmen...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.ENTREGA INMEDIATA* DEPARTAMENTO: Excelente monoambiente de (43,00m2) divisible, con Importante Placard - Baño Completo - Balcón Corrido, Cocina Integrada con Equipamiento Completo y Herrajes de Acero Inoxidable, Grifería FV, Cocina con Horno, Termotanque Eléctrico, Servicios Individuales, Preinstalación Aire Acondicionado Frío-Calor, Conexión Lavarropas y Lavavajillas.* EDIFICIO: Moderno Edificio, Amenities - Laundry - Parrillas y Solarium - Terraza de uso común - Grupo Electrógeno.* COCHERAS DISPONIBLES DESDE USD 20.000* BARRIO: Nuevo Corredor urbano de 13 manzanas - Holmberg/Donado - Área parquizada  - Bicisendas  - Zona de importantes Embajadas - Rodeado de Espacios Verdes.* MEDIOS DE TRANSPORTE: Siete cuadras del subte B - Próximo a UBA( Drago), Colegio San Patrick, estaciones Drago y Coglhan.SI TENES QUE VENDER PARA COMPRAR // SOMOS ESPECIALISTAS EN OPERACIONES SIMULTANEAS// COMUNICATE CON NOSOTROS PARA ASESORAR...
121218                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2 Amb al contrafrente,  luminoso. El departamento cuenta con living comedor con piso de cerámicos, dormitorio con pisos de parquet y placard empotrado, cocina separada y lavadero, dependencia y baño de servicio, baño completo. La propiedad se encuentra toda reciclada en impecable estado. Ubicado a metros de Plaza Colon y del mar. Piso 6ºUbicación: Colón e/ Entre Rios y Corrientes Valor: u$s 95.900Girard propiedades | Reg. 3150Entre Ríos 2140 | Mar del Plata | ArgentinaTel. +54 (0223) 495-5488 | (0223) 496-0021

       pileta
0       False
2       False
4       False
5       False
6       False
...       ...
121214  False
121215   True
121216   True
121217  False
121218  False

[97214 rows x 2 columns]

<ipython-input-171-9dd57b61ebfd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["pileta"] = data9.description.str.contains(r'(?i)pileta|piscina')

In [172]:
#hacemos lo mismo de ver cuantas propeidades tienen pileta y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_pileta_column =  data9.apply(lambda x: 0 if x.pileta == False else 1, axis=1)

print(data_pileta_column.value_counts())

#ponemos la data de pileta en la columna pileta del data frame
data9["pileta"] = data_pileta_column

#ahi quedo la columna pileta con 0s y 1s 
data9["pileta"]

0    69638
1    27576
dtype: int64

<ipython-input-172-cc06e5ab2693>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["pileta"] = data_pileta_column

0         0
2         0
4         0
5         0
6         0
         ..
121214    0
121215    1
121216    1
121217    0
121218    0
Name: pileta, Length: 97214, dtype: int64

#### podemos decir q tenemos 27.576 propiedades con pileta

- ### 4.3) buscamos las propiedades que tienen amenities

In [173]:
#ahora vamos a buscar los q tienen amenities

data9["amenities"] = data9.description.str.contains(r'(?i)amenities')
print(data9[["description","amenities"]])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    description  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
5                                                                                                                                                                                                                                                                                                                                                         Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                   MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN  PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO -  CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL                                                 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
121214                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ***VENTA CON RENTA***Local en EDIFICIO lomas Park muy bien ubicado.Muy buen local súper luminoso,amplio salón de ventas y atención al público. Privado.2 baños. Kichinette. 3 Cocheras cubiertas. Estacionamiento de cortesía.VENTA CON RENTA: ALQUILADO A SEARCH SEGURIDAD Contrato por 5 años. Inicio Diciembre 2014 . Con proyección de quedarse, alquilan además  oficinas en el piso de arriba. Actualmente valor de Alquiler: U$S 1.338. -Para el 4to. año U$S 1.471.-Para el 5to. año U$S 1.619.-
121215                                                                                                                                                                                                                                                                                         TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecable Departamento.Living comedor, toilette de recepción, con salida a un Balcón aterrazado con parrilla y mesa.2 dormitorios en suite, principal con vestidor.Cochera fijaOpción a compra de la segunda cochera.-Seguridad 24hs.-El complejo posee pileta de natación descubierta y pileta climatizada cubierta, Cancha de tenis cubierta y otra cancha de tenis descubierta, quincho con parrilla, gran salón de fiestas, plaza para chicos y micro cine. Las medidas, superficies y expensas consignadas en la presente descripción son aproximadas, a solo título orientativo y no son vinculantes. Las medidas y superficies reales surgen del Título respectivo. FEDERICO GALCERAN PROPIEDADES
121216  Excelente e impecable casa en Venta en Las Lomas de San Isidro.Construida por el Arq. Turienzo.12m de frente en una excelente manzana con mucha vegetación, muy buen acceso a 1 1/2 cuadra de Marquez y la entrada al Jockey club.En Planta superior:- Entrada principal a hall y entrada de servicio a la cocina- Toilette y placard de recepción- Muy buen living comedor con hogar, ventilación cruzada al frente y al jardin.- Amplia cocina con comedor diario- 3 Dormitorios 2 con placard de 3,50 x 3,50 y Suite ppal de 3,70 x 4,70 con vestidor de 2,95 x 2,45 y baño con Hidromasaje- Baño completoEn Planta inferior- Estar o Playroom con hogar a leña- Salon comedor - Cocina para el sector Play y Quincho- Baño completo- Pequeño taller- Sala de Maquinaria- Garage para 2 autos- Dependencia con su baño- Salida a al sector parrillaExterior:- Jardín al frente, laterales y al fondo- Muy buena pileta de 9 x 4- Pulmón de Manzana con variada vegetaciónToda la casa construida con excelente calidad y totalmen...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.ENTREGA INMEDIATA* DEPARTAMENTO: Excelente monoambiente de (43,00m2) divisible, con Importante Placard - Baño Completo - Balcón Corrido, Cocina Integrada con Equipamiento Completo y Herrajes de Acero Inoxidable, Grifería FV, Cocina con Horno, Termotanque Eléctrico, Servicios Individuales, Preinstalación Aire Acondicionado Frío-Calor, Conexión Lavarropas y Lavavajillas.* EDIFICIO: Moderno Edificio, Amenities - Laundry - Parrillas y Solarium - Terraza de uso común - Grupo Electrógeno.* COCHERAS DISPONIBLES DESDE USD 20.000* BARRIO: Nuevo Corredor urbano de 13 manzanas - Holmberg/Donado - Área parquizada  - Bicisendas  - Zona de importantes Embajadas - Rodeado de Espacios Verdes.* MEDIOS DE TRANSPORTE: Siete cuadras del subte B - Próximo a UBA( Drago), Colegio San Patrick, estaciones Drago y Coglhan.SI TENES QUE VENDER PARA COMPRAR // SOMOS ESPECIALISTAS EN OPERACIONES SIMULTANEAS// COMUNICATE CON NOSOTROS PARA ASESORAR...
121218                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2 Amb al contrafrente,  luminoso. El departamento cuenta con living comedor con piso de cerámicos, dormitorio con pisos de parquet y placard empotrado, cocina separada y lavadero, dependencia y baño de servicio, baño completo. La propiedad se encuentra toda reciclada en impecable estado. Ubicado a metros de Plaza Colon y del mar. Piso 6ºUbicación: Colón e/ Entre Rios y Corrientes Valor: u$s 95.900Girard propiedades | Reg. 3150Entre Ríos 2140 | Mar del Plata | ArgentinaTel. +54 (0223) 495-5488 | (0223) 496-0021

       amenities
0          False
2          False
4          False
5          False
6          False
...          ...
121214     False
121215     False
121216     False
121217      True
121218     False

[97214 rows x 2 columns]

<ipython-input-173-3032897f3e07>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["amenities"] = data9.description.str.contains(r'(?i)amenities')

In [174]:
#hacemos lo mismo de ver cuantas propeidades tienen amenities y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_amenities_column =  data9.apply(lambda x: 0 if x.amenities == False else 1, axis=1)

print(data_amenities_column.value_counts())

0    88348
1     8866
dtype: int64

In [175]:
#ponemos la data de amenities en la columna amenities del data frame
data9["amenities"] = data_amenities_column

#ahi quedo la columna amenities con 0s y 1s 
data9["amenities"]

<ipython-input-175-04b05b4dc7e5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["amenities"] = data_amenities_column

0         0
2         0
4         0
5         0
6         0
         ..
121214    0
121215    0
121216    0
121217    1
121218    0
Name: amenities, Length: 97214, dtype: int64

#### podemos decir q tenemos 8.866 propiedades con amenities

- ### 4.4) buscamos las propiedades que tienen cochera

In [176]:
#ahora vamos a buscar los q tienen cochera

data9["cochera"] = data9.description.str.contains(r'(?i)cochera')
print(data9[["description","cochera"]])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    description  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
5                                                                                                                                                                                                                                                                                                                                                         Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                   MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN  PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO -  CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL                                                 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
121214                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ***VENTA CON RENTA***Local en EDIFICIO lomas Park muy bien ubicado.Muy buen local súper luminoso,amplio salón de ventas y atención al público. Privado.2 baños. Kichinette. 3 Cocheras cubiertas. Estacionamiento de cortesía.VENTA CON RENTA: ALQUILADO A SEARCH SEGURIDAD Contrato por 5 años. Inicio Diciembre 2014 . Con proyección de quedarse, alquilan además  oficinas en el piso de arriba. Actualmente valor de Alquiler: U$S 1.338. -Para el 4to. año U$S 1.471.-Para el 5to. año U$S 1.619.-
121215                                                                                                                                                                                                                                                                                         TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecable Departamento.Living comedor, toilette de recepción, con salida a un Balcón aterrazado con parrilla y mesa.2 dormitorios en suite, principal con vestidor.Cochera fijaOpción a compra de la segunda cochera.-Seguridad 24hs.-El complejo posee pileta de natación descubierta y pileta climatizada cubierta, Cancha de tenis cubierta y otra cancha de tenis descubierta, quincho con parrilla, gran salón de fiestas, plaza para chicos y micro cine. Las medidas, superficies y expensas consignadas en la presente descripción son aproximadas, a solo título orientativo y no son vinculantes. Las medidas y superficies reales surgen del Título respectivo. FEDERICO GALCERAN PROPIEDADES
121216  Excelente e impecable casa en Venta en Las Lomas de San Isidro.Construida por el Arq. Turienzo.12m de frente en una excelente manzana con mucha vegetación, muy buen acceso a 1 1/2 cuadra de Marquez y la entrada al Jockey club.En Planta superior:- Entrada principal a hall y entrada de servicio a la cocina- Toilette y placard de recepción- Muy buen living comedor con hogar, ventilación cruzada al frente y al jardin.- Amplia cocina con comedor diario- 3 Dormitorios 2 con placard de 3,50 x 3,50 y Suite ppal de 3,70 x 4,70 con vestidor de 2,95 x 2,45 y baño con Hidromasaje- Baño completoEn Planta inferior- Estar o Playroom con hogar a leña- Salon comedor - Cocina para el sector Play y Quincho- Baño completo- Pequeño taller- Sala de Maquinaria- Garage para 2 autos- Dependencia con su baño- Salida a al sector parrillaExterior:- Jardín al frente, laterales y al fondo- Muy buena pileta de 9 x 4- Pulmón de Manzana con variada vegetaciónToda la casa construida con excelente calidad y totalmen...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.ENTREGA INMEDIATA* DEPARTAMENTO: Excelente monoambiente de (43,00m2) divisible, con Importante Placard - Baño Completo - Balcón Corrido, Cocina Integrada con Equipamiento Completo y Herrajes de Acero Inoxidable, Grifería FV, Cocina con Horno, Termotanque Eléctrico, Servicios Individuales, Preinstalación Aire Acondicionado Frío-Calor, Conexión Lavarropas y Lavavajillas.* EDIFICIO: Moderno Edificio, Amenities - Laundry - Parrillas y Solarium - Terraza de uso común - Grupo Electrógeno.* COCHERAS DISPONIBLES DESDE USD 20.000* BARRIO: Nuevo Corredor urbano de 13 manzanas - Holmberg/Donado - Área parquizada  - Bicisendas  - Zona de importantes Embajadas - Rodeado de Espacios Verdes.* MEDIOS DE TRANSPORTE: Siete cuadras del subte B - Próximo a UBA( Drago), Colegio San Patrick, estaciones Drago y Coglhan.SI TENES QUE VENDER PARA COMPRAR // SOMOS ESPECIALISTAS EN OPERACIONES SIMULTANEAS// COMUNICATE CON NOSOTROS PARA ASESORAR...
121218                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2 Amb al contrafrente,  luminoso. El departamento cuenta con living comedor con piso de cerámicos, dormitorio con pisos de parquet y placard empotrado, cocina separada y lavadero, dependencia y baño de servicio, baño completo. La propiedad se encuentra toda reciclada en impecable estado. Ubicado a metros de Plaza Colon y del mar. Piso 6ºUbicación: Colón e/ Entre Rios y Corrientes Valor: u$s 95.900Girard propiedades | Reg. 3150Entre Ríos 2140 | Mar del Plata | ArgentinaTel. +54 (0223) 495-5488 | (0223) 496-0021

       cochera
0        False
2        False
4        False
5        False
6        False
...        ...
121214    True
121215    True
121216   False
121217    True
121218   False

[97214 rows x 2 columns]

<ipython-input-176-e036e10a3ecc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["cochera"] = data9.description.str.contains(r'(?i)cochera')

In [177]:
#hacemos lo mismo de ver cuantas propeidades tienen cochera y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_cochera_column =  data9.apply(lambda x: 0 if x.cochera == False else 1, axis=1)

print(data_cochera_column.value_counts())

data9["cochera"] = data_cochera_column

0    62148
1    35066
dtype: int64

<ipython-input-177-ad67f3e72d48>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["cochera"] = data_cochera_column

#### podemos decir q tenemos 35.066 propiedades con cochera

- ### 4.5) buscamos las propiedades que se venden con financiacion y que muchas veces afectan el precio

In [178]:
#ahora vamos a buscar los q dicen cuotas o financiacion porque muchas veces me contaminan el precio, poniendo el valot de una cuota y que luego me afecta el precio por m2

data9["financiacion"] = data9.description.str.contains(r'(?i)financiacion|cuota')
print(data9[["description","financiacion"]])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    description  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURAL,  AL CONTRAFRENTE, EDIFICIO DE POCAS UNIDADES Y MUY BIEN CONSERVADO. EN ESTADO ORIGINAL.-POSEE: 1 DORMITORIOS,  1 BAÑO COMPLETO, LIVING COMEDOR Y COCINA SEPARADA.-EN ESTADO ORIGINAL.- Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
5                                                                                                                                                                                                                                                                                                                                                         Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                   MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN  PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO -  CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL                                                 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
121214                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ***VENTA CON RENTA***Local en EDIFICIO lomas Park muy bien ubicado.Muy buen local súper luminoso,amplio salón de ventas y atención al público. Privado.2 baños. Kichinette. 3 Cocheras cubiertas. Estacionamiento de cortesía.VENTA CON RENTA: ALQUILADO A SEARCH SEGURIDAD Contrato por 5 años. Inicio Diciembre 2014 . Con proyección de quedarse, alquilan además  oficinas en el piso de arriba. Actualmente valor de Alquiler: U$S 1.338. -Para el 4to. año U$S 1.471.-Para el 5to. año U$S 1.619.-
121215                                                                                                                                                                                                                                                                                         TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecable Departamento.Living comedor, toilette de recepción, con salida a un Balcón aterrazado con parrilla y mesa.2 dormitorios en suite, principal con vestidor.Cochera fijaOpción a compra de la segunda cochera.-Seguridad 24hs.-El complejo posee pileta de natación descubierta y pileta climatizada cubierta, Cancha de tenis cubierta y otra cancha de tenis descubierta, quincho con parrilla, gran salón de fiestas, plaza para chicos y micro cine. Las medidas, superficies y expensas consignadas en la presente descripción son aproximadas, a solo título orientativo y no son vinculantes. Las medidas y superficies reales surgen del Título respectivo. FEDERICO GALCERAN PROPIEDADES
121216  Excelente e impecable casa en Venta en Las Lomas de San Isidro.Construida por el Arq. Turienzo.12m de frente en una excelente manzana con mucha vegetación, muy buen acceso a 1 1/2 cuadra de Marquez y la entrada al Jockey club.En Planta superior:- Entrada principal a hall y entrada de servicio a la cocina- Toilette y placard de recepción- Muy buen living comedor con hogar, ventilación cruzada al frente y al jardin.- Amplia cocina con comedor diario- 3 Dormitorios 2 con placard de 3,50 x 3,50 y Suite ppal de 3,70 x 4,70 con vestidor de 2,95 x 2,45 y baño con Hidromasaje- Baño completoEn Planta inferior- Estar o Playroom con hogar a leña- Salon comedor - Cocina para el sector Play y Quincho- Baño completo- Pequeño taller- Sala de Maquinaria- Garage para 2 autos- Dependencia con su baño- Salida a al sector parrillaExterior:- Jardín al frente, laterales y al fondo- Muy buena pileta de 9 x 4- Pulmón de Manzana con variada vegetaciónToda la casa construida con excelente calidad y totalmen...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.ENTREGA INMEDIATA* DEPARTAMENTO: Excelente monoambiente de (43,00m2) divisible, con Importante Placard - Baño Completo - Balcón Corrido, Cocina Integrada con Equipamiento Completo y Herrajes de Acero Inoxidable, Grifería FV, Cocina con Horno, Termotanque Eléctrico, Servicios Individuales, Preinstalación Aire Acondicionado Frío-Calor, Conexión Lavarropas y Lavavajillas.* EDIFICIO: Moderno Edificio, Amenities - Laundry - Parrillas y Solarium - Terraza de uso común - Grupo Electrógeno.* COCHERAS DISPONIBLES DESDE USD 20.000* BARRIO: Nuevo Corredor urbano de 13 manzanas - Holmberg/Donado - Área parquizada  - Bicisendas  - Zona de importantes Embajadas - Rodeado de Espacios Verdes.* MEDIOS DE TRANSPORTE: Siete cuadras del subte B - Próximo a UBA( Drago), Colegio San Patrick, estaciones Drago y Coglhan.SI TENES QUE VENDER PARA COMPRAR // SOMOS ESPECIALISTAS EN OPERACIONES SIMULTANEAS// COMUNICATE CON NOSOTROS PARA ASESORAR...
121218                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2 Amb al contrafrente,  luminoso. El departamento cuenta con living comedor con piso de cerámicos, dormitorio con pisos de parquet y placard empotrado, cocina separada y lavadero, dependencia y baño de servicio, baño completo. La propiedad se encuentra toda reciclada en impecable estado. Ubicado a metros de Plaza Colon y del mar. Piso 6ºUbicación: Colón e/ Entre Rios y Corrientes Valor: u$s 95.900Girard propiedades | Reg. 3150Entre Ríos 2140 | Mar del Plata | ArgentinaTel. +54 (0223) 495-5488 | (0223) 496-0021

       financiacion
0             False
2             False
4             False
5             False
6             False
...             ...
121214        False
121215        False
121216        False
121217        False
121218        False

[97214 rows x 2 columns]

<ipython-input-178-7127358678c4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["financiacion"] = data9.description.str.contains(r'(?i)financiacion|cuota')

In [179]:
#hacemos lo mismo de ver cuantas propeidades tienen financiacion y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_financiacion_column =  data9.apply(lambda x: 0 if x.financiacion == False else 1, axis=1)

print(data_financiacion_column.value_counts())

data9["financiacion"] = data_financiacion_column

0    88687
1     8527
dtype: int64

<ipython-input-179-f3d24251f1f5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["financiacion"] = data_financiacion_column

#### podemos decir q tenemos 8.527 propiedades con cuotas o financiacion. estas propiedades deberiamos analizarla con la variable precio o precio por m2 a ver si encontramos una relacion de tener precio mas bajo q el promedio

In [180]:
data9.head(3)

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,...,Provincia,Localidad,covered_imputados,total_imputados,final_price_usd_m2,refaccionado,pileta,amenities,cochera,financiacion
0,PH,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,...,Capital Federal,Mataderos,40.0,55.0,1127.272727,1,0,0,0,0
2,apartment,Mataderos,Capital Federal|Mataderos|,Capital Federal,"-34.6522615,-58.5229825",72000.0,USD,1270404.0,72000.0,55.0,...,Capital Federal,Mataderos,55.0,55.0,1309.090909,0,0,0,0,0
4,apartment,Centro,Buenos Aires Costa Atlántica|Mar del Plata|Centro|,Buenos Aires Costa Atlántica,"-38.0026256,-57.5494468",64000.0,USD,1129248.0,64000.0,35.0,...,Buenos Aires Costa Atlántica,Mar del Plata,35.0,35.0,1828.571429,0,0,0,0,0

## 5) Ahora vamos a tratar de reconstruir la columna rooms con la data de description

In [206]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import re 

%matplotlib inline

In [207]:
#Buscamos aquellas propiedades sin Rooms.

mask_no_rooms = data9["rooms"].isnull()
data9.loc[mask_no_rooms,["rooms","description","title"]]

,rooms,description,title
5,NaN,"Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).","Casa Barrio 338. Sobre calle 3 de caballería, casi Nágera. Dos habit. Muy buen estado, patio con tapiales."
6,NaN,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO - CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO, EXCELENTE UBICACION EN MUNRO"
15,NaN,"ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: Metros Cubiertos: 115,23m²Contado U$D250.000HAUS VILLAGE es un complejo residencial de 20 casas con cochera y jardín propio, dentro del Barrio Cerrado Buenos Aires Village.Todas las unidades tienen entrada para auto, en planta baja cuentan con un toilette, living comedor con cocina separada.Patio exclusivo y, en planta alta, 3 dormitorios con espacio para placard (uno en suite).Realizados en una estructura monolítica de Hormigón Armado sobre platea de fundación y aberturas de PVC con DVH. La calidad de la construcción conjuga lo moderno y lo funcional, con un cuidado especial por lo estético. Son amplias superficies vidriadas que permiten vivir el verde del jardín en todo momento. El barrio cerrado cuenta con una doble entrada, lo que permite una mejor circulación interna de vehículos. Ofrece excelentes alternativas para los accesos al barrio, una entrada es por la autopista del Buen Ayre y la otra por la calle Flaubert. EasyBroker ID: EB-AN8955",HAUS VILLAGE / BELLA VISTA / 115m² MAS PATIO / BUENOS AIRES VILLAGE
18,NaN,"Casa sobre lote al golf en barrio San Isidro Labrador.Planta Baja:Amplio Living comedor en doble altura,Toilette,Cocina comedor, Family/Escritorio, Lavadero, dependencia de servicio, Galería cubierta y semi cubierta.Planta Alta:Master Suite con ducha escocesa e hidromasajes doble, tres dormitorios, Baño, Escritorio y Placar de Blanco.Todos los pisos son de porcelanato.Losa Radiante en todos los ambientes y galería.Piscina con espejo de agua de 40 m2.","Casa en venta en barrio San Isidro Labrador, Tigre."
20,NaN,"Consta de: Comedor-cocina, cuatro dormitorios (uno con baño en suite), un baño, otro baño para terminar, cuarto de herramientas y amplio parque.","Casa con excelente ubicaciòn, calle asfaltada, gas natural instalado, barrio residencial, linea de colectivo urbano. Orientaciòn Sur-Este.-"
...,...,...,...
121211,NaN,"Excelente departamento de categoría con vistas parciales al Río en exclusivo Barrio Cerrado ""Barrancas al Río"". Pallier privado, hall, toilette y guarda ropa. Living y comedor con salida a Balcón terraza. Amplia cocina con comedor diario, dependencia de servicio, lavadero, 3 dormitorios, 2 baños, 1 en suite,gran baulera, doble cochera fija cubierta, splits frio-calor en todos los ambientes, calefacción por piso eléctrico. El Condominio cuenta con pileta climatizada, jardines, cocheras de cortesía, SUM y seguridad 24 hs.",Departamento - Acassuso
121212,NaN,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE CORTADA!!! TIENE UNA RENTA ACTIVA HASTA OCTUBRE DE 2017P.B: Espectacular hall de entrada con triple altura - Toilette - Gran living apaisado con chimenea - Comedor separado (5 x 4) - Escritorio - (todo con pisos de pinotea) - Buena cocina con comedor diario - 1 dormitorio con baño completo - dependencias de servicio con baño P.A.: Espectacular Family - 4 dormitorios (todos con pisos de madera grapia misionera): Ppal en suite (7 x 4) con vestidor y baño completo balcón terraza con vista al jardín + otra suite + otro baño.Excelente jardín con pileta - Parrilla - Galería - Calefacción central por radiadores,Casa - Acassuso
121213,NaN,"EXCELENTE casa en Martinez. Inmejorable ubicaicón!! De Av. Libertador al Río.Excelente calidad!!!PB: hall de entrada, toilette compartimentado, gran living con salida al jardín, comedor por separado, escritorio, cocina comedor diario, family. Galería y jardín con pileta climatizada. PA: amplio hall de distribución. 3 dormitorios en suite. Gran suite principal con doble vestidor, jacuzzi, sauna y gym con salida a balcón terraza. 2da planta: Muy buen playroom, posibilidad de 4to dormitorio o cuarto de huéspedes. Un baño completo.Subsuelo: garaje para dos autos, departamento de caseros con baño y cocina, amplio lavadero y baño de pileta. Características sobresalientes: Calefacción central por radiadores, aire acondicionado central frio/calor, pisos de mármol en hall de entrada, pileta climatizada, excelentes terminaciones y detalles de categoría, playroom todo acustizado, etc.",Casa - Martinez
121214,NaN,"***VENTA CON RENTA***Local en EDIFICIO lomas Park muy bien ubicado.Muy buen local súper luminoso,amplio salón de ventas y atención al público. Privado.2 baños. Kichinette. 3 Cocheras cubiertas. Estacionamiento de cortesía.VENTA CON RENTA: ALQUILADO A SEARCH SEGURIDAD Contrato por 5 años. Inicio Diciembre 2014 . Con proyección de quedarse, alquilan además oficinas en el piso de arriba. Actualmente valor de Alquiler: U$S 1.338. -Para el 4to. año U$S 1.471.-Para el 5to. año U$S 1.619.-",Local - San Isidro
121216,NaN,"Excelente e impecable casa en Venta en Las Lomas de San Isidro.Construida por el Arq. Turienzo.12m de frente en una excelente manzana con mucha vegetación, muy buen acceso a 1 1/2 cuadra de Marquez y la entrada al Jockey club.En Planta superior:- Entrada principal a hall y entrada de servicio a la cocina- Toilette y placard de recepción- Muy buen living comedor con hogar, ventilación cruzada al frente y al jardin.- Amplia cocina con comedor diario- 3 Dormitorios 2 con placard de 3,50 x 3,50 y Suite ppal de 3,70 x 4,70 con vestidor de 2,95 x 2,45 y baño con Hidromasaje- Baño completoEn Planta inferior- Estar o Playroom con hogar a leña- Salon comedor - Cocina para el sector Play y Quincho- Baño completo- Pequeño taller- Sala de Maquinaria- Garage para 2 autos- Dependencia con su baño- Salida a al sector parrillaExterior:- Jardín al frente, laterales y al fondo- Muy buena pileta de 9 x 4- Pulmón de Manzana con variada vegetaciónToda la casa construida con excelente calidad y totalmen...",Ruca Inmuebles | Venta | Lomas de San Isidro | Bergallo al 100

In [208]:
#casteo columna description y title como string

data9["description"] = data9["description"].astype(str)
data9["title"] = data9["title"].astype(str)

<ipython-input-208-99d3f73610d0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["description"] = data9["description"].astype(str)
<ipython-input-208-99d3f73610d0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["title"] = data9["title"].astype(str)

In [186]:
#la cantidad de ambientes en description y title puede estar tanto en numeros como en numeros escritos en letras.
#Es por eso que buscamos ambos patrones en description y title

In [209]:
#Creo una funcion para la busqueda de patrones y me agregue los regex encontrados en una nueva columna al data frame
def buscador_patrones(patron, columna_de_trabajo, nombre_nueva_columna):
    patron_regex = re.compile(patron, re.IGNORECASE)
    matcheos = data9[columna_de_trabajo].apply(lambda x:x if x is np.NaN else patron_regex.search(x).group("numero") if patron_regex.search(x)!=None else np.NaN)
    data9.insert(13, nombre_nueva_columna, matcheos)

In [210]:
#Creamos patrones para buscar la cantidad explicita de ambientes en description y title.
description_ambientes_numero = "(?P<numero>\d\d?) ?(ambientes|ambiente|amb)"
description_ambientes_letras = "(?P<numero>mono|un|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez) ?(ambientes|ambiente|amb)"
title_ambientes_numero = "(?P<numero>\d\d?) ?(ambientes|ambiente|amb)"
title_ambientes_letras = "(?P<numero>mono|un|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez) ?(ambientes|ambiente|amb)"

#Ejecuto la funcion tanto en la columna "decription" como la columna "title"
buscador_patrones(description_ambientes_numero, "description", "numero_ambientes_description")
buscador_patrones(description_ambientes_letras, "description", "numero_ambientes_desc_letras")
buscador_patrones(title_ambientes_numero, "title", "numero_ambientes_title")
buscador_patrones(title_ambientes_letras, "title", "numero_ambientes_title_letras")

ValueError: cannot insert numero_ambientes_description, already exists

In [211]:
data9.loc[mask_no_rooms,["rooms","description","title","numero_ambientes_description","numero_ambientes_desc_letras","numero_ambientes_title","numero_ambientes_title_letras"]].head(10)

,rooms,description,title,numero_ambientes_description,numero_ambientes_desc_letras,numero_ambientes_title,numero_ambientes_title_letras
5,NaN,"Casa en el perímetro del barrio 338, ubicada en el extremo sur este del barrio, sobre calle 3 de caballería casi Nágera. Vista libre a terreno en frente.Consta de dos dormitorios, baño, living cocina comedor integrado de buen tamaño, lavadero con despensero en aluminio.Patio privado con churrasquera, tapiales y puerta de acceso de servicio. Frente con rejas y pequeño patio con verde, porch de acceso.Gas natural en la puerta. Aire acondicionado frío/calor. Baulera para guardado sobre pasillo. Muy buen estado en general de pisos, revestimientos, pintura, etc.Apto crédito. Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).","Casa Barrio 338. Sobre calle 3 de caballería, casi Nágera. Dos habit. Muy buen estado, patio con tapiales.",NaN,NaN,NaN,NaN
6,NaN,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENTE - SIN EXPENSAS! TODO EN PLANTA BAJA DOS DORMITORIOS (pisos de pinotea) - LIVING - COCINA COMEDOR - BAÑO - PATIO - GALPÓN Y LAVADERO EN EL PATIOEN MUY BUEN ESTADO - INMEJORABLE UBICACIÓN - A 1 CUADRA DE LA ESTACIÓN DE MUNRO - CERCA DE MAS DE 6 LINEAS DE COLECTIVOS - A 2 CUADRAS DEL CENTRO UNIVERSITARIO. 106 m2 TOTALES: 78 m2 CUBIERTOS Y 28 m2 DESCUBIERTOSAPTO PROFESIONAL Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO, EXCELENTE UBICACION EN MUNRO",NaN,NaN,NaN,NaN
15,NaN,"ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: Metros Cubiertos: 115,23m²Contado U$D250.000HAUS VILLAGE es un complejo residencial de 20 casas con cochera y jardín propio, dentro del Barrio Cerrado Buenos Aires Village.Todas las unidades tienen entrada para auto, en planta baja cuentan con un toilette, living comedor con cocina separada.Patio exclusivo y, en planta alta, 3 dormitorios con espacio para placard (uno en suite).Realizados en una estructura monolítica de Hormigón Armado sobre platea de fundación y aberturas de PVC con DVH. La calidad de la construcción conjuga lo moderno y lo funcional, con un cuidado especial por lo estético. Son amplias superficies vidriadas que permiten vivir el verde del jardín en todo momento. El barrio cerrado cuenta con una doble entrada, lo que permite una mejor circulación interna de vehículos. Ofrece excelentes alternativas para los accesos al barrio, una entrada es por la autopista del Buen Ayre y la otra por la calle Flaubert. EasyBroker ID: EB-AN8955",HAUS VILLAGE / BELLA VISTA / 115m² MAS PATIO / BUENOS AIRES VILLAGE,NaN,NaN,NaN,NaN
18,NaN,"Casa sobre lote al golf en barrio San Isidro Labrador.Planta Baja:Amplio Living comedor en doble altura,Toilette,Cocina comedor, Family/Escritorio, Lavadero, dependencia de servicio, Galería cubierta y semi cubierta.Planta Alta:Master Suite con ducha escocesa e hidromasajes doble, tres dormitorios, Baño, Escritorio y Placar de Blanco.Todos los pisos son de porcelanato.Losa Radiante en todos los ambientes y galería.Piscina con espejo de agua de 40 m2.","Casa en venta en barrio San Isidro Labrador, Tigre.",NaN,NaN,NaN,NaN
20,NaN,"Consta de: Comedor-cocina, cuatro dormitorios (uno con baño en suite), un baño, otro baño para terminar, cuarto de herramientas y amplio parque.","Casa con excelente ubicaciòn, calle asfaltada, gas natural instalado, barrio residencial, linea de colectivo urbano. Orientaciòn Sur-Este.-",NaN,NaN,NaN,NaN
22,NaN,"Edificada en 2 plantas. PB. amplio living con salida al parque, cocina con salida a la galería, todos los ambientes de pb con pisos de porcelanato. Toilet de recepción, lavadero, galería con parrilla. Amplio jardín de 1000 m2.PA: 3 dormitorios con pisos de porcelanato, uno de los cuales es en suite con vestidor, 2 baños completos. Hermosa vista abierta desde toda la planta alta. Muy luminosa! hermoso hogar a leña en el living. Cálida y acogedora.calefaccion por radeadores.la casa se encuentra en construcción, entrega terminada y pintada. No incluye mobiliario de cocinaEl barrio cuenta con una completa infraestructura de servicios y propuestas deportivas y la posibilidad de vivir en un entorno seguro y rodeado de espacios verdes.Las 365 hectáreas que lo conforman están desarrolladas en 906 lotes de 1350m2 en promedio, lo que ofrece un privilegiado entorno natural y un particular microclima que se logró destinando para lotes solo el 30% de la superficie del lugar.Actividades D...",CASA EN VENTA A ESTRENAR EN EL NACIONAL,NaN,NaN,NaN,NaN
26,NaN,"Casa en venta en complejo Villanueva barrio San Gabriel, la casa tiene un lote de 700 metros, cubiertos 190 y semi cubiertos 40 metros. Muy buena calidad de construccion, tiene en planta baja, living comedor, toilette de recepción, cocina con comedor diario y family, lavadero y dependencia. Planta alta dos dormitorios que comparten un baño, y la suite principal con vestidor y baño. Galeria con parrilla y jardin.",Casa muy linda en San Gabriel Villanueva,NaN,NaN,NaN,NaN
27,NaN,"Estancias propone vivir rodeados de naturaleza y verde. Por este motivo se destinó el 50% del emprendimiento a espacios comunes con una parquización diseñada por el Estudio Thays. Además de reservar algunos espacios en su estado natural para garantizar una mejor calidad de vida. La ribera del Río Luján y el bosque natural de acacias le permiten a los habitantes de Estancias tener un contacto diario con la naturaleza en su estado puro. Donde la mano del hombre solo ha intervenido para asegurar su conservación. Barrio La PioneraEn cumplimiento de la Ley 2340 CUCICBA, Ley 10.973 de la Prov.Bs.As., Ley Nacional 25.028, Ley 22.802 de Lealtad Comercial, Ley 24.240 de Defensa al Consumidor, las normas del Código Civil y Comercial de la Nación y Constitucionales, los agentes NO ejercen el corretaje inmobiliario. Todas las operaciones inmobiliarias son objeto de intermediación y conclusión por parte de los martilleros y corredores colegiados, cuyos datos se exhiben debajo del nombre de la i...",Excelente Propiedad!!!! en Estancias del Pilar,NaN,NaN,NaN,NaN
30,NaN,"Muy linda casa , toda en planta baja, doble pared de 30, ladrillo a la vista por dentro y fuera, pisos de ceramica blancos, techos de madera,esta en perfecto estado.Posee 3 dormitorios, 2 baños, cocina, living comedor, galeria techada con parrilla y ventilador de techo, cochera. Calefactores de gas natural en todos los cuartos, aire frio en toda la casa, pileta de 4m x 10m ,muy lindo parque arbolado.Planos aprobados.En cumplimiento de la Ley 2340 CUCICBA, Ley 10.973 de la Prov.Bs.As., Ley Nacional 25.028, Ley 22.802 de Lealtad Comercial, Ley 24.240 de Defensa al Consumidor, las normas del Código Civil y Comercial de la Nación y Constitucionales, los agentes NO ejercen el corretaje inmobiliario. Todas las operaciones inmobiliarias son objeto de intermediación y conclusión por parte de los martilleros y corredores colegiados, cuyos datos se exhiben debajo del nombre de la inmobiliaria.","Excelente propiedad !!!Muy buen estado, construida",NaN,NaN,NaN,NaN
36,NaN,"Casa en Pilar centro ,a pocas cuadras de la plaza principal de Pilar.De muy buena construccion , doble pared, estado impecable, posee hall de entrada , living, comedor , cocina comedor, 3 dormitorios, el dorm. principal de 7,75m x 3,15m muy comodo.Galeria alrededor de toda la casa,.Garage.Muy lindo parque con pileta de 10m x 5m. con bomba sumergible , filtro etc,termos electricos , uno para la cocina y otro para los baños, Pisos ceramicos, techo de yeso y tejas.Calefaccion por calefactores y Aire Acondicionado.En cumplimiento de la Ley 2340 CUCICBA, Ley 10.973 de la Prov.Bs.As., Ley Nacional 25.028, Ley 22.802 de Lealtad Comercial, Ley 24.240 de Defensa al Consumidor, las normas del Código Civil y Comercial de la Nación y Constitucionales, los agentes NO ejercen el corretaje inmobiliario. Todas las operaciones inmobiliarias son objeto de intermediación y conclusión por parte de los martilleros y corredores colegiados, cuyos datos se exhiben debajo del nombre de la inmobiliaria.",Casa en Pilar Centro-Excelente Estado,NaN,NaN,NaN,NaN

In [212]:
#combierto amb_desc_letras y amb_title_letras en minuscula para estandarizar las columnas
data9["numero_ambientes_desc_letras"] = data9["numero_ambientes_desc_letras"].str.lower()
data9["numero_ambientes_title_letras"] = data9["numero_ambientes_title_letras"].str.lower()

AttributeError: Can only use .str accessor with string values!

In [191]:
#Reemplazamos aquellos numeros en letras con numeros, lo hacemos con un diccionario
dictionary = {"mono":1, "un":1,"dos":2,"tres":3,"cuatro":4,"cinco":5,"seis":6,"siete":7,"ocho":8,"nueve":9,"diez":10}
data9["numero_ambientes_desc_letras"] = data9["numero_ambientes_desc_letras"].replace(dictionary)
data9["numero_ambientes_title_letras"] = data9["numero_ambientes_title_letras"].replace(dictionary)

<ipython-input-191-0c84a9013361>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["numero_ambientes_desc_letras"] = data9["numero_ambientes_desc_letras"].replace(dictionary)
<ipython-input-191-0c84a9013361>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9["numero_ambientes_title_letras"] = data9["numero_ambientes_title_letras"].replace(dictionary)

In [193]:
data9.loc[mask_no_rooms,["numero_ambientes_description","numero_ambientes_desc_letras","numero_ambientes_title","numero_ambientes_title_letras"]].head(10)

,numero_ambientes_description,numero_ambientes_desc_letras,numero_ambientes_title,numero_ambientes_title_letras
0,2,NaN,2,NaN
2,2,NaN,2,NaN
4,NaN,NaN,2,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,1.0,NaN,1.0
8,NaN,2.0,NaN,2.0
12,2,NaN,2,NaN
15,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN

In [194]:
#Reemplazamos los nulos en rooms con las columnas contruidas
data9["rooms"].fillna(data9["numero_ambientes_description"], inplace=True)
data9["rooms"].fillna(data9["numero_ambientes_desc_letras"], inplace=True)
data9["rooms"].fillna(data9["numero_ambientes_title"], inplace=True)
data9["rooms"].fillna(data9["numero_ambientes_title_letras"], inplace=True)

C:\Users\pedro\anaconda3\envs\dhdsblend2021\lib\site-packages\pandas\core\series.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [195]:
#Vemos como se redujo considerablemente la cantidad de nulos en rooms
data9["rooms"].isnull().sum()

32440

In [196]:
#Para aquellas propiedades sin la cantidad explicita de ambientes detalle en las columnas description y title vamos a tratar de armarlos con la informacion restante de las mismas.

In [205]:
#Comenzamos con dormitorios

#Patrones
dormitorios_numeros = "(?P<numero>\d\d?) ?(dorm|cuarto)"
dormitorios_letras = "(?P<numero>mono|un|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez) ?(dorm|cuarto)"

#ejecuto la funcion buscador_patrones
buscador_patrones(dormitorios_numeros, "description", "dormitorios_numeros")
buscador_patrones(dormitorios_letras, "description", "dormitorios_letras")

ValueError: cannot insert dormitorios_numeros, already exists

In [203]:
data9.loc[:,["dormitorios_numeros","dormitorios_letras"]]

       dormitorios_numeros  dormitorios_letras
0                      NaN                 NaN
2                      NaN                 NaN
4                        1                 NaN
5                      NaN                 2.0
6                      NaN                 2.0
...                    ...                 ...
121214                 NaN                 NaN
121215                   2                 NaN
121216                   3                 NaN
121217                 NaN                 NaN
121218                 NaN                 NaN

[97214 rows x 2 columns]

In [204]:
#Reemplazo las letras por integers
data9["dormitorios_letras"] = data9["dormitorios_letras"].str.lower()
diccionario_letras = {"un":1,"dos":2,"tres":3,"cuatro":4,"cinco":5,"seis":6,"siete":7,"ocho":8,"nueve":9,"diez":10}
data9["dormitorios_letras"] = data9["dormitorios_letras"].replace(diccionario_letras)

AttributeError: Can only use .str accessor with string values!

## despues de tener las regex, deberiamos analizar algunos outliers en columnas como superficie, o precio por m2 en usd y limpiarlos

## luego de limpiar outliers deberiamos armar algunos graficos