# Desafio 1 - Grupo 2

### vamos a importar y ver un poco como es el data set

In [220]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import re

In [221]:
# ubicacion del dataset
data_location = "../Data/properatti.csv"

data = pd.read_csv(data_location)

#vemos el dataset como esta compuesto

data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [222]:
#vemos que cantidad de filas y columnas tiene el dataset

print ( "cantidad de filas ", data.shape[0])
print ( "cantidad de columnas ", data.shape[1])

cantidad de filas  121220
cantidad de columnas  26

In [223]:
# vemos que tipo de datos es cada columna

data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

### vamos a seleccionar las columnas que nos interesan y borrar las filas duplicadas

- #### primeros valores eliminados (eliminados: 5.251)

In [224]:
#vamos a limpiar las columnas q no usamos para luego identificar los duplicados

#creamos un nuevo dataset llamado data1 y seleccionamos las columnas que queremos

data1 = data[["property_type", "place_name", "place_with_parent_names", "state_name", "lat-lon", "price", "currency", "price_aprox_local_currency", "price_aprox_usd", "surface_total_in_m2", "surface_covered_in_m2", "price_usd_per_m2", "price_per_m2", "rooms", "description", "title"]]

print("antes teniamos ", data.shape[0], "filas y ", data.shape[1], "columnas")

#ahora vamos a identificar los duplicados
data1_duplicados = data1.duplicated()
print("cantidad de datos duplicados ", data1_duplicados.sum())
             
#ahora con drop duplicate vamos a eliminar los que son True y estan duplicados

data1 = data1.drop_duplicates()

print("ahora tenemos ", data1.shape[0], "filas y ", data1.shape[1], "columnas")

antes teniamos  121220 filas y  26 columnas
cantidad de datos duplicados  5251
ahora tenemos  115969 filas y  16 columnas

## Tenemos que analizr bien la columna price usd per m2 ya que es la clave para el trabajo

- ### empezamos con la cantidad de nulos que tiene el dataset

In [225]:
#ahora vamos a ver la cantidad de elementos nulos que tiene cada columna
data_nulos = data1.isnull()
cantidad_nulos = data_nulos.sum()
print("*cantidad de nulos*" , '\n')
print(cantidad_nulos, '\n')

#la idea es ver el % de nulos asi sabemos si las columnas sirven o no, o que trabajo tenemos que hacerle a cada una
cantidad_registros = data1.shape[0]
porcentaje_nulos = cantidad_nulos / cantidad_registros
print("*porcentaje de nulos*", '\n')
print(porcentaje_nulos)

*cantidad de nulos*

property_type                     0
place_name                       23
place_with_parent_names           0
state_name                        0
lat-lon                       48214
price                         17435
currency                      17436
price_aprox_local_currency    17435
price_aprox_usd               17435
surface_total_in_m2           38375
surface_covered_in_m2         18801
price_usd_per_m2              49167
price_per_m2                  30314
rooms                         69899
description                       2
title                             0
dtype: int64

*porcentaje de nulos*

property_type                 0.000000
place_name                    0.000198
place_with_parent_names       0.000000
state_name                    0.000000
lat-lon                       0.415749
price                         0.150342
currency                      0.150351
price_aprox_local_currency    0.150342
price_aprox_usd               0.150342
surface_total_in_m2           0.330907
surface_covered_in_m2         0.162121
price_usd_per_m2              0.423967
price_per_m2                  0.261397
rooms                         0.602739
description                   0.000017
title                         0.000000
dtype: float64

## vamos a investigar un poco ciertas columnas que nos interesan

- #### Investigamos la columna price_aprox_usd

In [226]:
print('Tamaño columna price --->', data1['price_aprox_usd'].shape[0], '\n')
print('Valores nulos columna price --->', data1['price_aprox_usd'].isnull().sum(), '\n')
print('Valores NO nulos columna price --->', data1['price_aprox_usd'].notnull().sum(), '\n')
print(data1['price_aprox_usd'].describe())

Tamaño columna price ---> 115969

Valores nulos columna price ---> 17435

Valores NO nulos columna price ---> 98534

count    9.853400e+04
mean     2.408766e+05
std      3.936819e+05
min      0.000000e+00
25%      9.000000e+04
50%      1.450000e+05
75%      2.680000e+05
max      4.654544e+07
Name: price_aprox_usd, dtype: float64

- #### Investigamos la columna property_type

In [227]:
data1['property_type'].value_counts()

apartment    66519
house        39761
PH            5618
store         4071
Name: property_type, dtype: int64

- #### de las 17.435 propiedades nulas, vamos a analizar que tipo de propiedad son para entender mejor

In [228]:
# vamos a analizar cada tipo de propiedad

price_aprox_usd = data1['price_aprox_usd']
property_type_PH = data1['property_type'] == 'PH' 
PH_price = data1.loc[property_type_PH, 'price_aprox_usd']

property_type_apartment = data1['property_type'] == 'apartment' 
apartment_price = data1.loc[property_type_apartment, 'price_aprox_usd']

property_type_house = data1['property_type'] == 'house' 
house_price = data1.loc[property_type_house, 'price_aprox_usd']

property_type_store = data1['property_type'] == 'store' 
store_price = data1.loc[property_type_store, 'price_aprox_usd']

In [229]:
#ahora imprimos la cantidad de nulos para cada tipo de propiedad 

print('Cantidad de nulos en PH --->', PH_price.isnull().sum(), '\n')
print('Cantidad de nulos en apartment --->', apartment_price.isnull().sum(), '\n')
print('Cantidad de nulos en house --->', house_price.isnull().sum(), '\n')
print('Cantidad de nulos en store --->', store_price.isnull().sum(), '\n')

Cantidad de nulos en PH ---> 453

Cantidad de nulos en apartment ---> 8844

Cantidad de nulos en house ---> 7285

Cantidad de nulos en store ---> 853

In [230]:
#ahora vemos que % de nulos tiene cada tipo de propiedad 

print('Cantidad de nulos en PH --->', PH_price.isnull().sum() / PH_price.shape[0] , '\n')
print('Cantidad de nulos en apartment --->', apartment_price.isnull().sum() / apartment_price.shape[0] , '\n')
print('Cantidad de nulos en house --->', house_price.isnull().sum() / house_price.shape[0] , '\n')
print('Cantidad de nulos en store --->', store_price.isnull().sum() / store_price.shape[0] , '\n')

Cantidad de nulos en PH ---> 0.08063367746529014

Cantidad de nulos en apartment ---> 0.13295449420466332

Cantidad de nulos en house ---> 0.18321973793415658

Cantidad de nulos en store ---> 0.20953082780643575

- #### vamos a separar en bins para ver como se agrupan por precio todas las propiedades

In [231]:
#con qcut separamos en 4 bins de misma cantidad de datos, dejando afeura los nulos

priceusd_categorias = pd.qcut(data1['price_aprox_usd'], 4)
priceusd_categorias.value_counts()

(-0.001, 90000.0]         25515
(268000.0, 46545445.0]    24633
(145000.0, 268000.0]      24450
(90000.0, 145000.0]       23936
Name: price_aprox_usd, dtype: int64

In [232]:
# vemos los valores menores a 1000 usd y cuantos son

priceusd_menor_1000 = data1['price_aprox_usd'] < 1000
priceusd_menor_1000.value_counts()

False    115968
True          1
Name: price_aprox_usd, dtype: int64

In [233]:
# buscamos ese dato menos a 1.000 usd para analizarlo

dato_menor = data1[priceusd_menor_1000]
dato_menor

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title
9761,house,Córdoba,|Argentina|Córdoba|,Córdoba,"4.5458426,-75.67893099",0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,3.0,Casa en Venta de 2 dorm. en Armenia,SE VENDE CASA EN EL BARRIO EL LIMONAR

- #### segundos valores elimiandos (eliminados: 1)

In [234]:
#vamos a eliminar ese dato porque no nos aporta nada ya quer no tiene ni precio ni superficie (tampoco esta la info en description)

data2 = data1.drop([9761], axis = 0)
data2.shape

#data2.head(3)

(115968, 16)

In [235]:
#vemos ahora los nuevos bins q se armaron 

priceusd_categorias = pd.qcut(data2['price_aprox_usd'], 4)
priceusd_categorias.value_counts()

(4666.619, 90000.0]       25514
(268000.0, 46545445.0]    24633
(145000.0, 268000.0]      24450
(90000.0, 145000.0]       23936
Name: price_aprox_usd, dtype: int64

In [236]:
#ahora analizamos los que son mayores a 7,99mm de usd

priceusd_mayor_8m = data2['price_aprox_usd'] > 7999999
priceusd_mayor_8m.value_counts()

False    115945
True         23
Name: price_aprox_usd, dtype: int64

In [237]:
datos_mayores = data2[priceusd_mayor_8m]
datos_mayores

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title
525,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,NaN,11000000.0,USD,1.940895e+08,11000000.00,7500.0,1800.0,1466.666667,6111.111111,NaN,Total vista al rÃ­o. Sobre 7500 m2 de parque a...,"Casa 7500m² con Dependencias en Garay, Juan De..."
11349,house,Capital Federal,|Argentina|Capital Federal|,Capital Federal,NaN,8500000.0,USD,1.499782e+08,8500000.00,7832.0,4111.0,1085.291113,2067.623449,NaN,Sobre 7832m2 de lote existen 4111m2 cubiertas ...,Casa 7832m² con Dependencias en Don Bosco 3400...
24548,apartment,San Telmo,|Argentina|Capital Federal|San Telmo|,Capital Federal,"-34.6213421,-58.3741846",46545445.0,USD,8.212711e+08,46545445.00,200000.0,NaN,232.727225,NaN,3.0,dsdffhghvcvbcdfdfghdfhghkjhkhjklhjkfgvghfghnfg...,Departamento venta
34638,house,Olivos,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Bs.As. G.B.A. Zona Norte,NaN,14000000.0,USD,2.470230e+08,14000000.00,2079.0,NaN,6734.006734,NaN,NaN,Excelente zona. Cerca de la Quinat Presidencia...,"Casa 2079m² en Del Libertador, Av. 2200, Vicen..."
44684,apartment,Palermo Chico,|Argentina|Capital Federal|Palermo|Palermo Chico|,Capital Federal,"-34.5789246,-58.4013987",8000000.0,USD,1.411560e+08,8000000.00,410.0,410.0,19512.195122,19512.195122,5.0,CONTACTO: MARTIN PINUS 15- EXCELENTISIMA PROPI...,LE PARC ALCORTA - PISO MUY ALTO DE 410 M2 CON ...
44685,apartment,Palermo Chico,|Argentina|Capital Federal|Palermo|Palermo Chico|,Capital Federal,"-34.5789246,-58.4013987",8500000.0,USD,1.499782e+08,8500000.00,410.0,410.0,20731.707317,20731.707317,5.0,CONTACTO: MARTIN PINUS 15- EXCELENTISIMA PROPI...,LE PARC ALCORTA - PISO MUY ALTO DE 410 M2 CON ...
45689,house,Rosario,|Argentina|Santa Fe|Rosario|,Santa Fe,"-32.933983,-60.7319772",11111111.0,USD,1.960500e+08,11111111.00,304.0,149.0,36549.707237,74571.214765,NaN,CODIGO: 2062-670 ubicado en: URQUIZA 7900 - P...,VENTA CASA AL FRENTE. 3 DORMITORIOS. 2 BAÑOS. ...
49083,house,San Carlos de Bariloche,|Argentina|Río Negro|San Carlos de Bariloche|S...,Río Negro,NaN,15500000.0,USD,2.734898e+08,15500000.00,NaN,NaN,NaN,NaN,NaN,CODIGO: 1092-vta-angostura ubicado en: Villa L...,"CASTILLO DE 1500 MTS CON VISTA AL LAGO,CASA DE..."
55319,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,"-34.4722088,-58.4996791",9900000.0,USD,1.746806e+08,9900000.00,1000.0,1000.0,9900.000000,9900.000000,NaN,Casa importante en lote privilegiado con vista...,Casa importante en lote privilegiado con vista...
57907,house,San Isidro,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,"-34.4877803,-58.5557866",8500000.0,USD,1.499782e+08,8500000.00,NaN,4111.0,NaN,2067.623449,NaN,Sobre 7832m2 de lote existen 4111m2 cubiertas ...,DON BOSCO 3400
66045,store,Boca,|Argentina|Capital Federal|Boca|,Capital Federal,"-34.6443487086,-58.3654248049",8000000.0,USD,1.411560e+08,8000000.00,7722.0,7722.0,1036.001036,1036.001036,NaN,C.A.B.A - Boca - PRECIO A CONSULTAR - CÓDIGO 0...,Venta con RENTA. Espectacular depósito premium
67528,store,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Bs.As. G.B.A. Zona Norte,NaN,8000000.0,USD,1.411560e+08,8000000.00,13200.0,13200.0,606.060606,606.060606,NaN,Excepcional Planta Industrial - Partido de S...,Excepcional Planta Industrial totalmente refac...
67690,store,Moreno,|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|Mor...,Bs.As. G.B.A. Zona Oeste,"-34.5676494,-58.8491775",9000000.0,USD,1.588005e+08,9000000.00,NaN,13000.0,NaN,692.307692,NaN,Moreno - CÓDIGO 0167Excelente Inmueble Industr...,Excelente Inmueble Industrial de 13.000 m2
69115,store,Villa Soldati,|Argentina|Capital Federal|Villa Soldati|,Capital Federal,"-34.6601221702,-58.4302513174",8500000.0,USD,1.499782e+08,8500000.00,10958.0,10958.0,775.688994,775.688994,NaN,C.A.B.A - Villa Soldati - CÓDIGO 0146Excelente...,Excelente Nave Industrial de 10.960 m2 sobre t...
73029,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Capital Federal,NaN,8000000.0,USD,1.411560e+08,8000000.00,800.0,NaN,10000.000000,NaN,NaN,VENTA DEPARTAMENTO PISO DE 2 UNIDADES ANEXADAS...,Departamento en Palermo
84400,store,Bs.As. G.B.A. Zona Norte,|Argentina|Bs.As. G.B.A. Zona Norte|,Bs.As. G.B.A. Zona Norte,NaN,13000000.0,USD,2.293785e+08,13000000.00,NaN,NaN,NaN,NaN,NaN,AL VALOR PUBLICADO DEBERÁ ADICIONÁRSELE EL IMP...,Playa vehicular en venta-alquiler- Zarate
91229,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,14000000.0,USD,2.470230e+08,14000000.00,NaN,NaN,NaN,NaN,NaN,"Casa con Agua Corriente, Córdoba, Punilla, por...",Casa - Villa Carlos Paz
91289,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,16000000.0,USD,2.823120e+08,16000000.00,NaN,NaN,NaN,NaN,NaN,"En Bv Artigas 876 , Parque Jardín, La Falda .A...",Casa - La Falda
91428,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,14700000.0,USD,2.593742e+08,14700000.00,NaN,NaN,NaN,NaN,NaN,\tCECILIA INMUEBLES OFRECE:APTO CREDITO HIPOTE...,Casa - Parque Siquiman
91468,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,25000000.0,USD,4.411125e+08,25000000.00,NaN,NaN,NaN,NaN,NaN,"Casa con Agua Corriente, Córdoba, Punilla, por...",Casa - Parque Siquiman
91479,house,Punilla,|Argentina|Córdoba|Punilla|,Córdoba,NaN,19500000.0,USD,3.440678e+08,19500000.00,NaN,NaN,NaN,NaN,NaN,\tCECILIA INMUEBLES OFRECE:INCREIBLE PROPIEDAD...,Casa - Parque Siquiman
107390,house,San Roque,|Argentina|Mendoza|San Roque|,Mendoza,NaN,650000000.0,UYU,4.054773e+08,22980378.29,NaN,NaN,NaN,NaN,NaN,"Casa con Calefacción central, Mendoza, San Roq...",Casa - San Vicente
114131,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Bs.As. G.B.A. Zona Oeste,"-34.6571706,-58.6826249",12000000.0,USD,2.117340e+08,12000000.00,150.0,85.0,80000.000000,141176.470588,NaN,"CODIGO: ubicado en: MONSEÑOR TERRERO , Ituzai...","MONSEÑOR TERRERO , Ituzaingó, Buenos Aires."

- #### tercer eliminacion de valores (eliminados: 8)

In [238]:
#vamos a borrar en base a lo que vimos los sigueintes indices porque no son propiedades reales, o son errores de carga

data3 = data2.drop([24548, 91468, 107390, 91479, 91289, 91428, 114131, 45689], axis = 0)

In [239]:
data3.shape

(115960, 16)

### vamos a dejar por el momento la columna price y nos vamos en enfocar en la superficie para obtener bien los m2 y poder calcular el precio en usd por m2

- ### para eso vamos tratar de completar los valores que faltan entre las columnas surface total y surface covered

In [240]:
# vemos la cantidad de nulos que tiene la columna total

data3.surface_total_in_m2.value_counts(dropna = False)

NaN        38369
40.0        1626
50.0        1600
45.0        1332
60.0        1329
           ...
1598.0         1
1626.0         1
22355.0        1
1249.0         1
1038.0         1
Name: surface_total_in_m2, Length: 1688, dtype: int64

In [241]:
# vemos la cantidad de nulos que tiene la columna covered

data3.surface_covered_in_m2.value_counts(dropna = False)

NaN        18794
40.0        2615
50.0        2086
45.0        2020
60.0        1828
           ...
823.0          1
1075.0         1
2499.0         1
11680.0        1
499.0          1
Name: surface_covered_in_m2, Length: 996, dtype: int64

In [242]:
# vemos cuantos valores tenemos en 0 para la columna surface total 

ceros_total_surface = data3['surface_total_in_m2'] == 0
print(ceros_total_surface.value_counts())

False    115577
True        383
Name: surface_total_in_m2, dtype: int64

In [243]:
# vemos cuantos valores tenemos en 0 para la columna surface covered 

ceros_covered_surface = data3['surface_covered_in_m2'] == 0
print(ceros_covered_surface.value_counts())

False    115958
True          2
Name: surface_covered_in_m2, dtype: int64

In [244]:
#cambiamos los valores .NaN por ceros que se suman a la lista de ceros ya existente

data3['total_en_zeros'] = data3['surface_total_in_m2'].fillna(0)
data3['covered_en_zeros'] = data3['surface_covered_in_m2'].fillna(0)

In [245]:
#vemos la cantidad de 0 que tienen ahora la columna total surface

ceros_total_mask = data3['total_en_zeros'] == 0
ceros_total_mask.value_counts()

ceros_total_print = data3[ceros_total_mask]
print('la cantidad de ceros que tiene la coluna surface_total es ',ceros_total_print.shape[0])

la cantidad de ceros que tiene la coluna surface_total es  38752

In [246]:
#vemos la cantidad de 0 que tienen ahora la columna covered surface

ceros_covered_mask = data3['covered_en_zeros'] == 0
ceros_covered_mask.value_counts()

ceros_covered_print = data3[ceros_covered_mask]
print('la cantidad de ceros que tiene la coluna surface_covered es ',ceros_covered_print.shape[0])

la cantidad de ceros que tiene la coluna surface_covered es  18796

In [247]:
#vamos a ver una description de cada columna 

print(data3["covered_en_zeros"].describe(), '\n')

print(data3["total_en_zeros"].describe(), '\n')

count    115960.000000
mean        113.379441
std         678.652799
min           0.000000
25%          35.000000
50%          61.000000
75%         131.000000
max      187000.000000
Name: covered_en_zeros, dtype: float64

count    115960.000000
mean        157.866368
std        1306.742249
min           0.000000
25%           0.000000
50%          50.000000
75%         128.000000
max      200000.000000
Name: total_en_zeros, dtype: float64

### ya sabemos la cantidad de 0 q tiene cada columna, ahora vamos a completar los datos que faltan de una con la otra

- #### vamos a calcular los valores que tienen 0 en las dos columnas

In [248]:
mask_covered_ceros = data3["covered_en_zeros"] == 0
mask_total_ceros = data3["total_en_zeros"] == 0

mask_ambas_columnas_cero = data3[data3.covered_en_zeros.isin(mask_covered_ceros) &~ data3.total_en_zeros.isin(mask_total_ceros)]

mask_ambas_columnas_cero.shape

print('la cantidad de ceros en ambas columnas es ',mask_ambas_columnas_cero.shape[0])

la cantidad de ceros en ambas columnas es  6523

- #### esto equivale a que % de ceros en cada columna?

In [249]:
# para la columna covered es:

porcentaje_ambos_ceros_covered = mask_ambas_columnas_cero.shape[0]/ceros_covered_print.shape[0]
porcentaje_ambos_ceros_covered

0.34704192381357735

In [250]:
# para la columna total es:

porcentaje_ambos_ceros_total = mask_ambas_columnas_cero.shape[0]/ceros_total_print.shape[0]
porcentaje_ambos_ceros_total

0.1683267960363336

- ##### por lo que vimos, la columna covered esta mucho mas completa que la de total surface. Pero tenemos datos que esten en covered pero no en total?

In [251]:
# vamos a caluclar los valores con un 1 q tienen valor en total pero no tienen valot en covered

covered_vs_total = data3.apply(lambda x : 1 if x['total_en_zeros']!= 0 and x['covered_en_zeros'] == 0 else 0, axis=1)
covered_vs_total.value_counts()

0    109533
1      6427
dtype: int64

#### *lo que estamos diciendo aca es que, de un total de 0s de 18.796 en la columna covered_surface, vamos a tener q imputar valores a 6.427 datos, osea que al final me tienen que quedar 12.369 datos con 0*

In [252]:
# vamos a caluclar los valores con un 1 q tienen valor covered pero no tienen valot en total

covered_vs_total_1 = data3.apply(lambda x : 1 if x['total_en_zeros']== 0 and x['covered_en_zeros'] != 0 else 0, axis=1)
covered_vs_total_1.value_counts()

0    89577
1    26383
dtype: int64

#### *lo que estamos diciendo aca es que, de un total de 0s de 38.752 en la columna total_surface, vamos a tener q imputar valores a 26.383 datos, osea que al final me tienen que quedar 12.369 datos con 0*

- #### ahora vamos a crear un ratio que me diga los m2 totales sobre m2 cubiertos para cada tipo de propiedad. Luego vamos a aplicar ese ratio a los valores que completemos

In [253]:
#vemos los tipos de propiedad y la cantidad q tiene cada una

data3.property_type.value_counts(dropna = False)

apartment    66518
house        39753
PH            5618
store         4071
Name: property_type, dtype: int64

In [254]:
#Creamos función para hacer el promedio de total vs covered según el tipo de propiedad

def average_in(prop):
    property_type = data3['property_type'] == prop
    average_type = data3[property_type]
    average = average_type.apply(lambda x : np.nan if x['total_en_zeros'] == 0 or x['covered_en_zeros'] == 0 else x['total_en_zeros']/x['covered_en_zeros'], axis = 1)
    return average.mean()

ap = 'apartment'
ho = 'house'
ph = 'PH'
st = 'store'

ratio_ap = average_in(ap)
ratio_ho = average_in(ho)
ratio_ph = average_in(ph)
ratio_st = average_in(st)

print('Ratio Apartment:', ratio_ap)
print('Ratio House:', ratio_ho)
print('Ratio PH:', ratio_ph)
print('Ratio Store:', ratio_st)

Ratio Apartment: 1.4350058909436791
Ratio House: 3.8210825189774926
Ratio PH: 1.4963109876069087
Ratio Store: 1.663225836433732

- #### ya tenemos los ratios para cada tipo de propiedad y ahora podemos completar los valores de surface total con esos ratios cuando solo tengamos el valor de surface covered

In [255]:
# imputamos los APARTMENT con surface_total en cero y con dato en covered 

total_ap = data3.apply(lambda x : (x['covered_en_zeros']*ratio_ap) if x['total_en_zeros']== 0 and x['covered_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_total = total_ap + data3['total_en_zeros']

apartment_total.value_counts()

0.0000       25475
40.0000       1626
50.0000       1600
45.0000       1332
60.0000       1329
             ...
2016.0000        1
3880.0000        1
24.3951          1
1081.0000        1
1038.0000        1
Length: 2041, dtype: int64

In [256]:
# imputamos los APARTMENT con surface_covered en cero y con dato en total 


covered_ap = data3.apply(lambda x : (x['total_en_zeros']/ratio_ap) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_covered = covered_ap + data3['covered_en_zeros']
apartment_covered.value_counts()

0.000000       14719
40.000000       2615
50.000000       2086
45.000000       2020
60.000000       1828
               ...
171.427868         1
1112.000000        1
331.705955         1
1603.000000        1
843.000000         1
Length: 1248, dtype: int64

In [257]:
## imputamos los HOUSES con surface_total en cero y con dato en covered 

total_ho = data3.apply(lambda x : (x['covered_en_zeros']*ratio_ho) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_total = total_ho + data3['total_en_zeros']
house_total.value_counts()

0.000000       28097
40.000000       1626
50.000000       1600
45.000000       1332
60.000000       1329
               ...
4780.000000        1
1914.362342        1
2246.000000        1
1770.000000        1
1164.000000        1
Length: 2291, dtype: int64

In [258]:
# imputamos los HOUSES con surface_covered en cero y con dato en tot 


covered_ho = data3.apply(lambda x : (x['total_en_zeros']/ratio_ho) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_covered = covered_ho + data3['covered_en_zeros']
house_covered.value_counts()

0.000000        17115
40.000000        2615
50.000000        2086
45.000000        2020
60.000000        1828
                ...
291.540419          1
2460.035855         1
10958.000000        1
1215.000000         1
566.331658          1
Length: 1464, dtype: int64

In [259]:
# imputamos los PH con surface_total en cero y con dato en covered 


total_ph = data3.apply(lambda x : (x['covered_en_zeros']*ratio_ph) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_total = total_ph + data3['total_en_zeros']
ph_total.value_counts()

0.0       37205
40.0       1626
50.0       1600
45.0       1332
60.0       1329
          ...
2008.0        1
3187.0        1
1139.0        1
3880.0        1
1038.0        1
Length: 1874, dtype: int64

In [260]:
# imputamos los PH con surface_covered en cero y con dato en total 


covered_ph = data3.apply(lambda x : (x['total_en_zeros']/ratio_ph) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_covered = covered_ph + data3['covered_en_zeros']
ph_covered.value_counts()

0.000000       18563
40.000000       2615
50.000000       2086
45.000000       2020
60.000000       1828
               ...
1130.000000        1
1967.000000        1
1880.000000        1
13.366205          1
5350.000000        1
Length: 1109, dtype: int64

In [261]:
# imputamos los STORES con surface_total en cero y con dato en covered 


total_st = data3.apply(lambda x : (x['covered_en_zeros']*ratio_st) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_total = total_st + data3['total_en_zeros']
store_total.value_counts()

0.000000       37848
40.000000       1626
50.000000       1600
45.000000       1332
60.000000       1329
               ...
961.000000         1
138.047744         1
1082.000000        1
7176.000000        1
355.930329         1
Length: 1966, dtype: int64

In [262]:
# imputamos los STORES con surface_covered en cero y con dato en total 


covered_st = data3.apply(lambda x : (x['total_en_zeros']/ratio_st) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_covered = covered_st + data3['covered_en_zeros']
store_covered.shape

(115960,)

In [263]:
#creamos las columnas en el dataframe 

data3['covered_imputados'] = covered_st + covered_ph + covered_ho + covered_ap + data3['covered_en_zeros']
data3['total_imputados'] = total_st + total_ph + total_ho + total_ap + data3['total_en_zeros']

In [264]:
#vemos los valores en 0 para la columna covered

covered_zeros_final_1 = data3['covered_imputados'] == 0
covered_zeros_final_1.value_counts()

False    103591
True      12369
Name: covered_imputados, dtype: int64

In [265]:
#vemos los valores en 0 para la columna total

total_zeros_final_1 = data3['total_imputados'] == 0
total_zeros_final_1.value_counts()

False    103591
True      12369
Name: total_imputados, dtype: int64

#### finalmente llegamos al valor q estabamos esperando de 12.369 datos con valor 0 en cada columna

- #### deberiamos borrar las columnas que usamos previamente como "total_en_zeros" y "covered_en_zeros" pero nose bien si eso va a afectar las columnas que le siguen q tienen la data final

## Luego de esto, deberiamos aplicar la regex donde obtenemos datos de m2 desde la columna description, para poder terminar de completar la columna surface

In [266]:
#esto lo esta armando thomas, asique cuando me lo pase lo agrego

#### Lo que descubrimos es que los valores de price per m2 en usd es diferente que los de price per m2, porque uno toma la superficie total y el otro la superficie covered. Por eso debemos crear una sola columna de price per m2 en usd, unificando criterios. vamos a dividir la columna price aprox usd por los m2 totales. para eso tenemos q terminar de completar la columna surface total.

#### una vez que tenemos la regex de thomas con todos los valores de m2, agregamos los datos a las dos columnas covered y total y ya podemos dividir la columna precio aprox usd por la columna final de surface que usemos para el total de la superficie. de esta manera obtenemos el verdadero valor de price per m2 REAL

# ahora vamos a trabajar sobre las columnas de ubicacion

In [267]:
# tengo q linkear la notebook de segun aca

# Trabajamos sobre rejex para descubrir otras conexiones al precio

In [268]:
#vamos a separar la columna "description" para analizarla sola

data_description = data3["description"]

data_description.head(5)

0    2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...
1    Venta de departamento en décimo piso al frente...
2    2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
3    PH 3 ambientes con patio. Hay 3 deptos en lote...
4    DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...
Name: description, dtype: object

In [269]:
#vamos a ver los que son nulos

data_description_null = data_description.isnull()
print("hay ",data_description_null.sum(), "valores nulos")

#identificamos las dos filas q tienen valores nulos en "description"
data_description_null = data[data.description.isnull()]
data_description_null

hay  2 valores nulos

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
10664,10664,sell,apartment,Villa Carlos Paz,|Argentina|Córdoba|Villa Carlos Paz|,Argentina,Córdoba,3832791.0,"-31.4207828,-64.4992141",-31.420783,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/168nc_venta_depart...,NaN,HERMOSO DEPARTAMENTO CON PISCINA Y COCHERA,https://thumbs4.properati.com/6/JiAoy6zsKPeBob...
96691,96691,sell,apartment,San Fernando,|Argentina|Bs.As. G.B.A. Zona Norte|San Fernando|,Argentina,Bs.As. G.B.A. Zona Norte,3429088.0,NaN,NaN,...,55.0,NaN,1781.818182,NaN,NaN,NaN,http://www.properati.com.ar/1bj1r_venta_depart...,NaN,Departamento - San Fernando,https://thumbs4.properati.com/1/FZZcNCsb4-ucU2...

In [ ]:
# quiero compltarlos pero sin modificar el dataset original o el data3 q es el q estamos usando

In [282]:
#vamos a buscar la palabra "refaccionado" ya que podria afectar el precio al ser un departamento mejorado. estos datos los ingresamos en la columna nueva de "refaccionados"

import re

data3["refaccionado"] = data3.description.str.contains(r'(?i)refac|refaccionado')
print(data3[["description","refaccionado"]])

                                              description refaccionado
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...         True
1       Venta de departamento en décimo piso al frente...        False
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...        False
3       PH 3 ambientes con patio. Hay 3 deptos en lote...        False
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...        False
...                                                   ...          ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...        False
121216  Excelente e impecable casa en Venta en Las Lom...        False
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...        False
121218  2 Amb al contrafrente,  luminoso. El departame...        False
121219  Departamento de 77 m2 apto profesional. Edific...        False

[115960 rows x 2 columns]

In [283]:
#ahora tenemos todos los refaccionados como True en la columna "refaccionados", vamos a ver cuantos departamentos refaccionados hay
#para eso definimos como 0 a las propiedades q no son 'refaccionadas' y como 1 las que si

data_refaccionado_column =  data3.apply(lambda x: 0 if x.refaccionado == False else 1, axis=1)

print(data_refaccionado_column.value_counts())

data3["refaccionado"] = data_refaccionado_column

0    114070
1      1890
dtype: int64

#### podemos decir q tenemos 1.890 propiedades que estan refaccionadas

In [274]:
#ahora vamos a buscar los q tienen pileta

data3["pileta"] = data3.description.str.contains(r'(?i)pileta|piscina')
print(data3[["description","pileta"]])

                                              description pileta
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...  False
1       Venta de departamento en décimo piso al frente...  False
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...  False
3       PH 3 ambientes con patio. Hay 3 deptos en lote...  False
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...  False
...                                                   ...    ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...   True
121216  Excelente e impecable casa en Venta en Las Lom...   True
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...  False
121218  2 Amb al contrafrente,  luminoso. El departame...  False
121219  Departamento de 77 m2 apto profesional. Edific...  False

[115960 rows x 2 columns]

In [277]:
#hacemos lo mismo de ver cuantas propeidades tienen pileta y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_pileta_column =  data3.apply(lambda x: 0 if x.pileta == False else 1, axis=1)

print(data_pileta_column.value_counts())

#ponemos la data de pileta en la columna pileta del data frame
data3["pileta"] = data_pileta_column

#ahi quedo la columna pileta con 0s y 1s 
data3["pileta"]

0    84669
1    31291
dtype: int64

0         0
1         0
2         0
3         0
4         0
         ..
121215    1
121216    1
121217    0
121218    0
121219    0
Name: pileta, Length: 115960, dtype: int64

#### podemos decir q tenemos 31.291 propiedades con pileta

In [281]:
#ahora vamos a buscar los q tienen amenities

data3["amenities"] = data.description.str.contains(r'(?i)amenities')
print(data3[["description","amenities"]])

                                              description amenities
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...     False
1       Venta de departamento en décimo piso al frente...     False
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...     False
3       PH 3 ambientes con patio. Hay 3 deptos en lote...     False
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...     False
...                                                   ...       ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...     False
121216  Excelente e impecable casa en Venta en Las Lom...     False
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...      True
121218  2 Amb al contrafrente,  luminoso. El departame...     False
121219  Departamento de 77 m2 apto profesional. Edific...     False

[115960 rows x 2 columns]

In [284]:
#hacemos lo mismo de ver cuantas propeidades tienen amenities y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_amenities_column =  data3.apply(lambda x: 0 if x.amenities == False else 1, axis=1)

print(data_amenities_column.value_counts())

0    105916
1     10044
dtype: int64

In [285]:
#ponemos la data de amenities en la columna amenities del data frame
data3["amenities"] = data_amenities_column

#ahi quedo la columna amenities con 0s y 1s 
data3["amenities"]

0         0
1         0
2         0
3         0
4         0
         ..
121215    0
121216    0
121217    1
121218    0
121219    0
Name: amenities, Length: 115960, dtype: int64

#### podemos decir q tenemos 10.044 propiedades con amenities

In [286]:
#ahora vamos a buscar los q tienen cochera

data3["cochera"] = data3.description.str.contains(r'(?i)cochera')
print(data3[["description","cochera"]])

                                              description cochera
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...   False
1       Venta de departamento en décimo piso al frente...    True
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...   False
3       PH 3 ambientes con patio. Hay 3 deptos en lote...   False
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...   False
...                                                   ...     ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...    True
121216  Excelente e impecable casa en Venta en Las Lom...   False
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...    True
121218  2 Amb al contrafrente,  luminoso. El departame...   False
121219  Departamento de 77 m2 apto profesional. Edific...   False

[115960 rows x 2 columns]

In [288]:
#hacemos lo mismo de ver cuantas propeidades tienen cochera y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_cochera_column =  data3.apply(lambda x: 0 if x.cochera == False else 1, axis=1)

print(data_cochera_column.value_counts())

data3["cochera"] = data_cochera_column

0    75576
1    40384
dtype: int64

#### podemos decir q tenemos 40.384 propiedades con cochera

In [289]:
#ahora vamos a buscar los q dicen cuotas o financiacion porque muchas veces me contaminan el precio, poniendo el valot de una cuota y que luego me afecta el precio por m2

data3["financiacion"] = data3.description.str.contains(r'(?i)financiacion|cuota')
print(data3[["description","financiacion"]])

                                              description financiacion
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...        False
1       Venta de departamento en décimo piso al frente...        False
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...        False
3       PH 3 ambientes con patio. Hay 3 deptos en lote...        False
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...        False
...                                                   ...          ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...        False
121216  Excelente e impecable casa en Venta en Las Lom...        False
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...        False
121218  2 Amb al contrafrente,  luminoso. El departame...        False
121219  Departamento de 77 m2 apto profesional. Edific...        False

[115960 rows x 2 columns]

In [290]:
#hacemos lo mismo de ver cuantas propeidades tienen financiacion y ponemos 0 las que no tiene (osea q son false) y 1 las q si

data_financiacion_column =  data3.apply(lambda x: 0 if x.financiacion == False else 1, axis=1)

print(data_financiacion_column.value_counts())

data3["financiacion"] = data_financiacion_column

0    106489
1      9471
dtype: int64

#### podemos decir q tenemos 9.471 propiedades con cuotas o financiacion. estas propiedades deberiamos analizarla con la variable precio o precio por m2 a ver si encontramos una relacion de tener precio mas bajo q el promedio

In [291]:
data3.head(3)

,property_type,place_name,place_with_parent_names,state_name,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,...,title,total_en_zeros,covered_en_zeros,covered_imputados,total_imputados,refaccionado,pileta,amenities,cochera,financiacion
0,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Capital Federal,"-34.6618237,-58.5088387",62000.0,USD,1093959.0,62000.0,55.0,...,2 AMB TIPO CASA SIN EXPENSAS EN PB,55.0,40.0,40.0,55.0,1,0,0,0,0
1,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Bs.As. G.B.A. Zona Sur,"-34.9038831,-57.9643295",150000.0,USD,2646675.0,150000.0,NaN,...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,0.0,0.0,0.0,0.0,0,0,0,1,0
2,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Capital Federal,"-34.6522615,-58.5229825",72000.0,USD,1270404.0,72000.0,55.0,...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,55.0,55.0,55.0,55.0,0,0,0,0,0

## Aca abajo deberiamos sumar las regex que estuvo laburando segun

## despues de tener las regex, deberiamos analizar algunos outliers en columnas como superficie, o precio por m2 en usd y limpiarlos

## luego de limpiar outliers deberiamos armar algunos graficos