In [1]:
#data original

import pandas as pd
import numpy as np

data_location = 'properatti.csv'

data = pd.read_csv(data_location)
data.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [2]:
#creamos nuevo data frame para laburar

df_nuevo1 = data.loc[:,['property_type', 'country_name', 'state_name', 'price', 'currency', 'price_aprox_usd', 'surface_total_in_m2','surface_covered_in_m2','price_per_m2', 'rooms','description', 'title']]
df_nuevo1.head()

,property_type,country_name,state_name,price,currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_per_m2,rooms,description,title
0,PH,Argentina,Capital Federal,62000.0,USD,62000.0,55.0,40.0,1550.000000,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
1,apartment,Argentina,Bs.As. G.B.A. Zona Sur,150000.0,USD,150000.0,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,apartment,Argentina,Capital Federal,72000.0,USD,72000.0,55.0,55.0,1309.090909,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,PH,Argentina,Capital Federal,95000.0,USD,95000.0,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado
4,apartment,Argentina,Buenos Aires Costa Atlántica,64000.0,USD,64000.0,35.0,35.0,1828.571429,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...

In [20]:
#contamos los valores de total_surface

df_nuevo1.surface_total_in_m2.value_counts(dropna = False)

NaN       39328
50.0       1721
40.0       1698
45.0       1404
60.0       1396
          ...
1465.0        1
6648.0        1
1682.0        1
838.0         1
1038.0        1
Name: surface_total_in_m2, Length: 1688, dtype: int64

In [21]:
#contamos los valores de covered_surface


df_nuevo1.surface_covered_in_m2.value_counts(dropna = False)

NaN       19907
40.0       2736
50.0       2184
45.0       2142
60.0       1888
          ...
843.0         1
810.0         1
4350.0        1
960.0         1
1761.0        1
Name: surface_covered_in_m2, Length: 996, dtype: int64

In [24]:
#cambiamos los valores .nan por ceros

df_nuevo1['total_en_zeros'] = df_nuevo1['surface_total_in_m2'].fillna(0)
df_nuevo1['covered_en_zeros'] = df_nuevo1['surface_covered_in_m2'].fillna(0)

In [25]:
#contamos los tipos de propiedad

df_nuevo1.property_type.value_counts(dropna = False)

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

In [81]:
#Creamos función para hacer el promedio de total vs covered según el tipo de propiedad

def average_in(prop):
    property_type = df_nuevo1['property_type'] == prop
    average_type = df_nuevo1[property_type]
    average = average_type.apply(lambda x : np.nan if x['total_en_zeros'] == 0 or x['covered_en_zeros'] == 0 else x['total_en_zeros']/x['covered_en_zeros'], axis = 1)
    return average.mean()

ap = 'apartment'
ho = 'house'
ph = 'PH'
st = 'store'

function_ap = average_in(ap)
function_ho = average_in(ho)
function_ph = average_in(ph)
function_st = average_in(st)

print('Función Apartment:', function_ap)
print('Función House:', function_ho)
print('Función PH:', function_ph)
print('Función Store:', function_st)

Función Apartment: 1.44564000550622
Función House: 3.811037496054194
Función PH: 1.4858482403148943
Función Store: 1.6677401233906952

In [61]:
# imputamos los APARTMENT con surface_total en cero y con dato en covered 

total_ap = df_nuevo1.apply(lambda x : (x['covered_en_zeros']*function_ap) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_total = total_ap + df_nuevo1['total_en_zeros']
apartment_total.value_counts()

0.000000        26032
50.000000        1721
40.000000        1698
45.000000        1404
60.000000        1396
                ...
1530.000000         1
14666.017856        1
1259.000000         1
1330.000000         1
4590.000000         1
Length: 2041, dtype: int64

In [41]:
# imputamos los APARTMENT con surface_covered en cero y con dato en total 


covered_ap = df_nuevo1.apply(lambda x : (x['total_en_zeros']/function_ap) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ap else 0, axis=1)
apartment_covered = covered_ap + df_nuevo1['covered_en_zeros']
apartment_covered.value_counts()

0.000000       15128
40.000000       2736
50.000000       2184
45.000000       2142
60.000000       1888
               ...
595.000000         1
170.166846         1
4906.000000        1
1416.000000        1
240.723831         1
Length: 1249, dtype: int64

In [42]:
## imputamos los HOUSES con surface_total en cero y con dato en covered 

total_ho = df_nuevo1.apply(lambda x : (x['covered_en_zeros']*function_ho) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_total = total_ho + df_nuevo1['total_en_zeros']
house_total.value_counts()

0.0       28898
50.0       1721
40.0       1698
45.0       1404
60.0       1396
          ...
3181.0        1
1611.0        1
3250.0        1
2029.0        1
1241.0        1
Length: 2291, dtype: int64

In [44]:
# imputamos los houses con surface_covered en cero y con dato en tot 


covered_ho = df_nuevo1.apply(lambda x : (x['total_en_zeros']/function_ho) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ho else 0, axis=1)
house_covered = covered_ho + df_nuevo1['covered_en_zeros']
house_covered.value_counts()

0.000000       18215
40.000000       2736
50.000000       2184
45.000000       2142
60.000000       1888
               ...
9152.000000        1
70.584454          1
5426.000000        1
937.000000         1
2300.000000        1
Length: 1464, dtype: int64

In [45]:
# imputamos los PH con surface_total en cero y con dato en covered 


total_ph = df_nuevo1.apply(lambda x : (x['covered_en_zeros']*function_ph) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_total = total_ph + df_nuevo1['total_en_zeros']
ph_total.value_counts()

0.0        38158
50.0        1721
40.0        1698
45.0        1404
60.0        1396
           ...
1983.0         1
25980.0        1
711.0          1
1891.0         1
3230.0         1
Length: 1874, dtype: int64

In [46]:
# imputamos los PH con surface_covered en cero y con dato en total 


covered_ph = df_nuevo1.apply(lambda x : (x['total_en_zeros']/function_ph) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == ph else 0, axis=1)
ph_covered = covered_ph + df_nuevo1['covered_en_zeros']
ph_covered.value_counts()

0.000000       19676
40.000000       2736
50.000000       2184
45.000000       2142
60.000000       1888
               ...
24.901601          1
4550.000000        1
1215.000000        1
803.000000         1
292.762066         1
Length: 1109, dtype: int64

In [66]:
# imputamos los STORES con surface_total en cero y con dato en covered 


total_st = df_nuevo1.apply(lambda x : (x['covered_en_zeros']*function_st) if x['total_en_zeros']==0 and x['covered_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_total = total_st + df_nuevo1['total_en_zeros']
store_total.head()

0    55.0
1     0.0
2    55.0
3     0.0
4    35.0
dtype: float64

In [65]:
# imputamos los STORES con surface_covered en cero y con dato en total 


covered_st = df_nuevo1.apply(lambda x : (x['total_en_zeros']/function_st) if x['covered_en_zeros']==0 and x['total_en_zeros'] != 0 and x['property_type'] == st else 0, axis=1)
store_covered = covered_st + df_nuevo1['covered_en_zeros']
store_covered.head()

0    40.0
1     0.0
2    55.0
3     0.0
4    35.0
dtype: float64

In [73]:
# creamos las columnas con las nuevas imputaciones y las contamos

df_nuevo1['covered_imputados'] = covered_st + covered_ph + covered_ho + covered_ap + df_nuevo1['covered_en_zeros']
df_nuevo1['total_imputados'] = total_st + total_ph + total_ho + total_ap + df_nuevo1['total_en_zeros']
print(df_nuevo1['covered_imputados'].value_counts())
print(df_nuevo1['total_imputados'].value_counts())

0.000000       12752
40.000000       2736
50.000000       2184
45.000000       2142
60.000000       1888
               ...
1133.000000        1
415.041087         1
24.402804          1
409.507206         1
1663.000000        1
Name: covered_imputados, Length: 2057, dtype: int64
0.000000       12752
50.000000       1721
40.000000       1698
45.000000       1404
60.000000       1396
               ...
1543.470186        1
48.364464          1
374.420761         1
991.000000         1
1288.000000        1
Name: total_imputados, Length: 3111, dtype: int64

In [74]:
#comparamos la media de los nuevos datos

print(df_nuevo1['covered_imputados'].mean())
print(df_nuevo1['total_imputados'].mean())

117.4589180140329
247.80693047674754

In [75]:
#comparamos la media de los datos originales

print(df_nuevo1['surface_covered_in_m2'].mean())
print(df_nuevo1['surface_total_in_m2'].mean())

133.05018112186985
233.79532799296635

In [76]:
#comparamos la media de total sobre la media de covered (sin desglosar por tipo de propiedad el ratio era 1.1)

print((df_nuevo1['total_imputados'].mean())/(df_nuevo1['covered_imputados']).mean())

2.109732787144709

In [80]:
#vemos las nuevas columnas

df_nuevo1.loc[:,['total_imputados', 'covered_imputados']]

        total_imputados  covered_imputados
0                  55.0               40.0
1                   0.0                0.0
2                  55.0               55.0
3                   0.0                0.0
4                  35.0               35.0
...                 ...                ...
121215            113.0               93.0
121216            360.0              360.0
121217             46.0               39.0
121218             48.0               48.0
121219             77.0               77.0

[121220 rows x 2 columns]